[2012-10-24 10:21] ProLoser commented on #231
Ya, after looking at this and more thought I think we should go back to
doing it as a directive lol.

It occurred to me after more thinking that the scope hierarchy issue really
isn't a problem.

If you want to have the main crap on your page paginate, then yes, do
`<body ui-paginate="products|whatever">` and you can do
`ng-repeat="products.$pager"` or `ng-click="products.$next()"` anywhere on
the

[2012-10-24 13:45] herrerodani opened #241 "Tooltip (ui-jq="tooltip") doesn't disappear on ng-view change"
Hello,
I have
a href="/products" title="Easiest. Binding. Ever!" ui-jq="tooltip">Hover over me for static Tooltip</a>
in my page. When I click this link, a ng-view refresh is done, but the tooltip keeps in place.

Thank you very much.

[2012-10-24 19:07] ProLoser commented on #241
I have had this happen outside of angular with the native tooltip. I don't
really have a good suggestion on how to fix it. It might be helpful to open
this bug ticket on the Bootstrap repo instead, as it occurs any time you
remove or hide a DOM element that created the tooltip.

On Wed, Oct 24, 2012 at 6:45 AM, herrerodani notifications@github.comwrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Co

[2012-10-25 22:01] OClement opened #245 "Codemirror needs to be repainted when used in ModalWindow"
I have a custom directive in which I have a Modal Window.

In that modal window I have a codemirror widget.

When I first open the modal window, Codemirror seems to be correctly initialized, but won't display the content, despite the fact that the model is correctly assigned and populated (I see it in Batarang)

Any changes to the model, of even a window resize will have the content appears correc

[2012-10-25 23:47] ProLoser commented on #245
It would be helpful if you provided a demo on plunker or jsfiddle that
reproduces the error as I'm not sure if this is an AngularJS `$digest` that
isn't firing or if the CodeMirror directive needs to hook into something
more than it already is.

[2012-10-26 01:48] OClement commented on #245
I will try to put something together, yes

I am kind of in a rush with that project right now so I am not sure when I'll be able to reproduce it in a fiddle or plunk.

Thanks

Le 2012-10-25 à 19:47, Dean Sofer notifications@github.com a écrit :

[2012-10-26 13:02] pabloperalta commented on #245
Hello. I think I'm having a similar problem (if not the same). I have a few tabs, each with two codemirror textareas. Only the ones in the first tab update themselves correctly when the model is updated (I'm updating it by calling get on a resource in my actual application).

I have written a jsFiddle: http://jsfiddle.net/2hHX4/15/

When you update the content of the non-codemirror textarea in the

[2012-10-26 13:55] OClement commented on #245
This is what I'm experiencing, in a slightly different context.

I suspect this is due to the fact that widget is hidden when the changes happens.

Would it be possible to make sure to update the widget with the model when it gets shown/hidden? That would probably do it. I am not sure if there would be a cleaner fix for that at the time being though

[2012-10-26 14:36] pabloperalta commented on #245
I think that being hidden represents a problem for codemirror but not exactly for angular. What I mean is that angular does update the textarea correctly but the problem is that codemirror works by hidding your textarea and showing a new one that does the actual work. It's THAT new text area that doesn't get updated, basically because it knows nothing about angular and the ng-model directive doesn

[2012-10-26 15:43] OClement commented on #245
Linking to the model seems to work fine
Try this: http://jsfiddle.net/oclement/VzhD6/1/
just a forked version of your fiddle with Codemirror already displayed
I also added ng-model-instant to the text area at the bottom just so it updates the model as you type

1- type "12345678" in the text area at the bottom: you see Codemirror updating fine
2- hide codemirror (click hide console)
3- update the

[2012-10-27 22:26] ProLoser commented on #3
So I'm looking through the shiv file and I'm sorry to say this but I think half of the file is not going to work.

I was trying to understand what the bottom half of the file does (it looks like you're trying to introspect the directives like we discussed) but I talked to the core team at one of the meetups about doing things dynamically and they explained that this won't work.

The problem is tha

[2012-10-28 16:38] dandoyon commented on #3
hmmm, so it sounds like we would need an array defined in a common file that lives on in the <head> enumerating the element directives, and that angular-ui devs would need to predefine them.  Do you agree?
On Oct 27, 2012, at 3:26 PM, Dean Sofer wrote:

[2012-10-28 16:52] pkozlowski-opensource commented on #3
Yep, this is how I see it... It is a bit of manual work but at least should buy us IE support. This brings another question: which version of IE we want to suppor? AngularJs guys are testing with IE versions starting from 8. For me IE 6 is out of the question and 7 would be painful (especially that we won't have ci for it). Thoughts?

[2012-10-28 17:02] dkorz opened #246 "Using a layout manager in angular?"
I've gotten to a point where I need to layout beyond what can be done in CSS. The jquery ui layout plugin does what I need at least for now. I'm looking for some direction on how to do this.

Should I try the jquery plugin wrapper or should I make a directive wrapping this myself? I'm trying mightily to not reinvent the wheel by writing a directive from scratch although that might result in a bett

[2012-10-28 18:37] dandoyon commented on #3
I was thinking that there is an alternative and that is to have the build system generate the code that initializes the ieshiv array of directives. To be honest, I haven't looked much into the grunt stuff. I'm sure it could be done. For example, if we knew that the name of a directive file was the name of the directive, the build script could prepend code to initialize an array of directive names.

[2012-10-28 19:12] petebacondarwin commented on #3
I don't think that AngularJS supports <IE8!
The only difficulty with generating the code is that some of the directives
may not be element-based but attribute-based.
I think that we could get away with having a simple file, say directives.js
that is manually maintained by developers.  When one creates a new
directive that will be an element you have to remember to add it there.
Pete

On 28 October

[2012-10-28 19:27] pkozlowski-opensource commented on #3
+1 for supporting IE >= 8 only
+1 for starting simple and just updating a file be hand for now; we can try to automate it if this becomes a pain-point. Unless someone has a brilliant idea on how to automate things - I don't since we would have to parse directives source (to find `E` ones) and I don't think it is worth it...

[2012-10-28 19:30] ProLoser commented on #3
Yes. We should remove the introspection and instead just make the
predefining as easy as possible.
On Oct 28, 2012 9:38 AM, "Dan Doyon" notifications@github.com wrote:

[2012-10-28 19:31] ProLoser commented on #246
What is it you want to accomplish?
On Oct 28, 2012 10:02 AM, "David Korz" notifications@github.com wrote:

[2012-10-28 20:33] dandoyon commented on #3
alrighty then, i'll do the change
On Oct 28, 2012, at 12:30 PM, Dean Sofer wrote:

[2012-10-28 21:40] dandoyon commented on #3
Please take a look, i chose to put tags inside of ieshiv, https://github.com/dandoyon/angular-ui/blob/static-ieshiv/common/ieshiv/ieshiv.js

If there are no aversions, i'll do a PR

--dan

On Oct 28, 2012, at 12:30 PM, Dean Sofer wrote:

[2012-10-28 21:42] petebacondarwin commented on #3
Fair enough for now.

On 28 October 2012 21:41, Dan Doyon notifications@github.com wrote:

[2012-10-29 00:36] dkorz commented on #246
I would like to be able to add markup in a partial or a directive's
template that controls the layout of child elements. I have panels that
contain fixed sized areas for titles, toolbars, etc. with another area that
should take the rest of the space. In some cases the fixed size areas need
to be adjustable with a splitter after display with an initial width (or
height) like 10em or 20%. A "border

[2012-10-29 00:41] ProLoser commented on #246
Ya I would probably not recommend using a third party plugin for something
like this because it would a: be way easier to do in vanilla angular and b:
just seems like awkward design to me.  Are you just hiding and relocating
content? I mean asside from the moveable dividers, I don't really get the
main advantage of using a plugin for layout. You could do everything you
described (minus the panel t

[2012-10-29 01:09] dkorz commented on #246
Well ignoring the splitter feature for a moment what I was trying to
describe is a kind a "stretchy" design that can't be done just with CSS. As
a more concrete example I have a widget to show a list of items. The widget
will be placed inside a div whose height will vary, say it's 50% of the
window. The list widget has a div containing a title that has a height of
2em and another div with a list o

[2012-10-29 10:50] ProLoser commented on #181
Fixed in b381ef87c44ae308186d72da5ed05cf17b5d1340

[2012-10-29 10:50] #181 closed, assigned to nobody

[2012-10-29 10:51] #241 closed, assigned to nobody

[2012-10-29 10:52] #209 closed, assigned to nobody

[2012-10-29 10:56] #174 closed, assigned to nobody

[2012-10-29 10:57] #3 closed, assigned to nobody

[2012-10-29 10:58] #138 closed, assigned to nobody

[2012-10-29 10:59] #158 closed, assigned to nobody

[2012-10-29 11:01] ProLoser commented on #173
@ajoslin can you review this and close it if it's no longer relevant?

[2012-10-29 11:03] #167 closed, assigned to nobody

[2012-10-29 13:24] ajoslin commented on #173
Ah, I missed this one.

@pckhoi, why are you doing it this way?  Couldn't you just create the marker with `new google.maps.Marker($scope.myMap, ...)` in your controller?

[2012-10-29 18:01] ProLoser commented on #173
I would think `$scope.myMap` is undefined when the controller's constructor
is being fired.

[2012-10-29 18:13] ajoslin commented on #173
Yeah, that's what the `$watch` is for.  You could also just do a `setTimeout` before doing anything.

But it's really bad that the user has to do this...

[2012-10-29 18:15] ProLoser commented on #173
Hmm touche. Your suggestion didn't have a `$watch`. I'm just trying to
close as many tix as possible so feel free to address or reject this one as
you see fit.

On Mon, Oct 29, 2012 at 11:13 AM, Andy Joslin notifications@github.comwrote:

[2012-10-29 18:23] ProLoser opened #248 "v0.3.1 patch"
I'm going to be focusing on #197, #198 and #204 tonight and will try to push a patch with merges.

The first two are two identical alternative approaches to the same thing, and unfortunately I'm not exactly sure which one to choose.

I am also going to try to get the async unit tests I started for TinyMCE and Select2 working.

I will be working on the build server too so that we can improve our pr

[2012-10-29 20:11] pabloperalta commented on #245
You are absolutely right.

[2012-10-30 08:14] #154 closed, assigned to nobody

[2012-10-30 08:17] ProLoser commented on #224
@RabidArts if you managed to get this working can we close this ticket?

[2012-10-30 08:19] ProLoser commented on #248
I pushed some rebuilt files that contain our fix from the merge with dan. For some reason the tests are failing despite working locally. No idea why.

[2012-10-30 08:38] pkozlowski-opensource commented on #248
It is not about tests, it is Travis-CI failing on `npm install`... Suspecting Travis issues...

[2012-10-30 08:52] ProLoser commented on #248
I was getting the same error at work which is why I had to wait till I got
home to build. Need to check the package file for errors.
On Oct 30, 2012 1:38 AM, "Pawel Kozlowski" notifications@github.com wrote:

[2012-10-30 20:44] ProLoser opened #249 "Remove CoffeeScript(?)"
It seems like it is the only module left still on CoffeeScript. Should we convert it to keep things consistent? And then the question becomes do we drop it from the grunt too?

[2012-10-30 20:45] petebacondarwin commented on #249
As you like :-)

On 30 October 2012 20:44, Dean Sofer notifications@github.com wrote:

[2012-10-31 02:25] slav opened #250 "Update demo to the latest build"
It would be cool if you would update the demo site: http://angular-ui.github.com/
to the latest 0.3.1 release build. It's the place where I (and I'm sure a lot of other people) go to learn about all available features and how to use them.

Thanks!

[2012-10-31 20:17] #250 closed, assigned to nobody

[2012-10-31 20:17] ProLoser commented on #250
Had the code sitting on my machine and I forgot to push it.

[2012-11-01 01:41] slav opened #251 "Demo: add demonstration for missing modules"
Missing from demo:
Directive - sortable
Filter - format

Thanks!

[2012-11-01 09:02] ProLoser commented on #251
I actually don't know how sortable works but I will add a demo for format
On Oct 31, 2012 6:41 PM, "slav" notifications@github.com wrote:

[2012-11-01 13:35] JosefJezek opened #252 "Add directive for slider of JQuery UI"
Like this http://jsfiddle.net/vNfsm/50/

Thank you

[2012-11-02 23:24] ProLoser commented on #251
I added a demo for the format filter. Anyone want to add the sortable demo?

[2012-11-03 00:09] hparra opened #254 "uiKeypress stopped working"
Binding uiKeypress stopped working as usual with 0eac4de11d8cd5d9777df43adaa74c1f3c91ec1c

All tests pass.

Binding events to body. Not sure if this is a jQuery issue. Ideas?

[2012-11-03 00:22] ProLoser commented on #254
This seems to work for me. Can you create a fiddle or plnk or paste what you are doing?

[2012-11-03 10:10] hparra commented on #254
It's hard since I'm binding listeners to BODY but this is a non-issue now. I was using the wrong listener ("keypress" instead of "keydown") as defined by http://www.quirksmode.org/dom/events/keys.html. For some reason "keypress" was working in a pre 0eac4de version. Correction of behavior is probably a side effect of afd83b7b371ce118d6e0647228f6fbec26655372. Thanks. HGPA

[2012-11-03 10:10] #254 closed, assigned to nobody

[2012-11-03 12:08] YuriyPobezhymov opened #255 "Problem with sortable directive"
Hello.
I had a pb with defining custom events and attributes from controller for sortable element.

[code]

I found example of date directive using and then I looked indepth of angular-ui.js.
My code start working after I did change line 1040 to:
`opts = angular.extend({}, options, scope.$eval(attrs.uiSortable));`

Also I don't understand pb, when I use ng-model for my list. It's enables events th

[2012-11-04 01:43] orneryd commented on #1
We are working on a simple. native, and templatable grid control...you might check it out.

https://github.com/Crash8308/ng-grid

[2012-11-04 01:52] ProLoser commented on #1
Any interest in contributing it to AngularUI?

[2012-11-04 21:09] ccollie opened #257 "Support promises in ui-validate to allow remote validation"
Subject says it all.

[2012-11-04 21:10] petebacondarwin commented on #257
Can you give a concrete example of how you see this working?

On 4 November 2012 21:09, ccollie notifications@github.com wrote:

[2012-11-04 21:15] ProLoser commented on #257
I think he wants a call back to be passed so that validation can be
asynchronous. I was actually thinking about this myself before but I am not
entirely sure this is possible because AngularJS validation is synchronous
so by that time you won't be in the same phase of validation.

I suppose you could return false until the Ajax completes and then set
valid to true. But you could also just write va

[2012-11-04 21:22] pkozlowski-opensource commented on #257
@petebacondarwin @ProLoser Yeh, I was toying with the idea as well (I think I've even sent a PR or sth on the mailing list, don't remember really...).

I guess the use case is validation hitting the server.

I think it could be possible to support promises if we accept the fact that we would initially set the field as invalid and then set the real validation result only when a promise is resolved.

[2012-11-04 21:30] ProLoser commented on #257
Yes, in which case this just might not be in scope which is okay too. I
think doing invalid first and valid second might very well be a decent
solution. If people want something more robust nothing stops them from
doing native validation.

We could just provide some $callback that people could execute to change
the valid state.
On Nov 4, 2012 1:22 PM, "Pawel Kozlowski" notifications@github.com wro

[2012-11-04 21:32] petebacondarwin commented on #257
You can't set the field to invalid as you get a horrible wobble of unwanted
error message while you wait for the server to decide that the thing you
entered is perfectly valid.  Not nice from a user experience point of view.

What you need to do is just pass (i.e. return the value and don't call
$setValidity at all) until the async returns (possibly setting up a spinner
animation to let the user k

[2012-11-04 21:36] ProLoser commented on #257
Ya that sounds good to me.

Of course @ccollie could help us too ;)

On Sun, Nov 4, 2012 at 1:32 PM, Pete Bacon Darwin
notifications@github.comwrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Systems
California State Polytechnic University, Pomona
Telephone: 714-900-2254
Website: www.DeanSofer.com
Github: github.com/ProLoser

[2012-11-04 21:41] pkozlowski-opensource commented on #257
@petebacondarwin we don't need to explicitly check for promises, we can simply wrap whatever comes out of a function in `$q.when` and register `.then` callback on it. I believe that this is what is done on routes matching (and possibly in other places in AngularJS as well).

Now, the only thing that we need to check if things will work correctly if we don't return any value from a validator functi

[2012-11-04 21:43] ProLoser commented on #257
It doesn't hurt to have a check or simply undefined, etc, at the very least.

On Sun, Nov 4, 2012 at 1:41 PM, Pawel Kozlowski notifications@github.comwrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Systems
California State Polytechnic University, Pomona
Telephone: 714-900-2254
Website: www.DeanSofer.com
Github: github.com/ProLoser

[2012-11-04 21:51] petebacondarwin commented on #257
Nice one with the $q.when!

In a $parser/$formatter have to return the value that is passed in.
 Otherwise you are telling ngModelController that the model value should be
wiped out.

For example, in ngModelController#$setViewValue you have these lines of
code:

[code]

And then later,

[code]

Pete

On 4 November 2012 21:44, Dean Sofer notifications@github.com wrote:

[2012-11-05 13:18] tadchristiansen opened #258 "Create a directive for a form wizard"
There are a ton of plugins for creating a form wizard. It seems like, with AngularJS, you would be able to create a cool directive that has this functionality. I came to angular-ui looking for something like this and didn't see anything. Is this in the works? Are there plans for doing something like this? If not, I may just make an attempt of it on my own and share it with you guys. I just didn't

[2012-11-05 18:42] orneryd commented on #1
hit us up on gchat today

[2012-11-05 19:32] ProLoser commented on #258
Uh... You can create one if you want to? With the power of AngularJS natively, I don't really see a large benefit in creating a specific directive. Seems like it would just add more obfuscation/complexity rather than simplicity.

What would the directive even do for you?

P.S.

I worked on a form wizard for CakePHP, so it's not to say I have 0 experience with that sort of interaction. However the

[2012-11-06 13:35] tadchristiansen commented on #258
First off, you are completely right. For whatever reason I thought the jq-ui stuff wouldn't work. I just tried it and it works fine.

As for having the wizard or not, I totally agree. Our designer feels that he does not want to overwhelm the user with tons of questions and wants to gradually lead them through all the questions. I am not a big fan of it myself.

Sorry for taking your time on this o

[2012-11-06 15:01] OClement commented on #183
I didn't see that issue when I created mine, sorry;

This issue is a duplicate of #245 (#245 having more documentation and description of the issue)

Not sure if we can mark this one as a dupe

[2012-11-06 15:01] OClement commented on #245
So anybody with a workaround or better yet, a solution to this?

[2012-11-06 20:39] ProLoser commented on #245
So keep in mind I barely use CodeMirror, but after reviewing the code (for the first time) it looks like this directive really needs to be rewritten.

If you take a look, there's a watch being created here: https://github.com/angular-ui/angular-ui/blob/master/modules/directives/codemirror/codemirror.js#L57 which is re-initializing (and destroying) codeMirror every single time the model value chang

[2012-11-06 20:40] ProLoser commented on #183
I'm closing this so that the discussion can be merged into #245

[2012-11-06 20:40] #183 closed, assigned to nobody

[2012-11-06 20:41] ProLoser commented on #1
https://github.com/timothyswt/angular-ui/tree/ng-grid

[2012-11-06 20:46] OClement commented on #245
Thanks a lot for your input ProLooser
I would gladly help, but I don't feel quite confident in doing so just yet, I might end up doing bad code in something someone else like me might end up using and having problems with :smile:

I'll start studying the directive's code more seriously and see if something good comes out of it, who knows...

[2012-11-06 21:02] pabloperalta commented on #245
Hi ProLooser. I can tell you are a really busy man so thanks a lot for taking the time to take a look at this issue. To tell you the truth I have been trying to make it work but I'm not good enough. I'll keep trying though but I feel like a dog chasing cars right now.

[2012-11-06 22:09] ProLoser commented on #245
Look at our other directives to see how they work. It's not that complex.
The main thing is you use the controller to set the value or get the value
from the model. The only catch is hooking into the plugin (codemirror) for
callbacks on updating the model

On Tue, Nov 6, 2012 at 1:02 PM, pabloperalta notifications@github.comwrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Syst

[2012-11-07 21:49] jigneshjdesai commented on #152
I have got v.0.3.0, but still having this issue in my project. Can anyone help please?

[2012-11-07 22:53] pkozlowski-opensource commented on #152
Try to post a jsFiddle / plunker with a reproduce scenario and steps
to reproduce. There might be a bug somewhere but if we can reproduce
it we can't fix it :-(

[2012-11-08 13:01] tadchristiansen commented on #258
I have a question, and since you have some experience with this I was wondering if you could answer it: http://stackoverflow.com/questions/13289704/how-can-i-get-formwizard-with-steps-inside-directives-with-angular-ui-jquery-pas

I tried posting it here but had formatting issues.

[2012-11-08 14:34] tadchristiansen commented on #258
Thinking about it some more, maybe I should just ditch the formwizard and just use ngSwitch.

[2012-11-08 16:35] mushik opened #259 "jsTree with Angular ui"
Hello,

Is it possible to use jsTree to show data as tree?
I've not found any example:(

Kind regards,
Alexander

[2012-11-08 16:47] jigneshjdesai commented on #152
Here is the jsFiddle - http://jsfiddle.net/jigneshjdesai/9sTtV/14/

I am trying to format a phone number as (999) 999-9999 in the input text box.

[2012-11-08 16:53] ProLoser commented on #258
That is sort of what I was saying in the first place lol. Or you can use
ng-include with a variable
On Nov 8, 2012 6:34 AM, "tadchristiansen" notifications@github.com wrote:

[2012-11-08 16:55] pkozlowski-opensource commented on #152
@jigneshjdesai Here is a working jsFiddle: http://jsfiddle.net/tAGeM/1/

What you need to observe is the fact that the `ui-mask` directive accepts a mask as an expression and not as string. So, if you want to use a raw string you need to quote it like so: `ui-mask="'(999) 999-9999'"`

This behavior is consistent with other AngularJS directives accepting expressions.

[2012-11-08 16:55] #152 closed, assigned to pkozlowski-opensource

[2012-11-08 16:59] tadchristiansen commented on #258
Rereading you first post I see what you are saying. I thought you were saying that there was no reason for a directive. Not that there was no reason to use the plugin at all. I realize now that you were saying there is no need for the formwizard at all.

What are some of the reasons I would use ng-include over ng-switch? It seems to me ng-switch will be easier to work with but I am still fairly ne

[2012-11-08 17:01] jigneshjdesai commented on #152
oh, that was it?

Thanks for looking into my such silly and stupid problem.

[2012-11-08 17:06] pkozlowski-opensource commented on #152
@jigneshjdesai No worries... Next time try to post first on the mailing list (`angular-ui@googlegroups.com`) if you are not sure if you are dealing with a bug. Also attaching a jsFiddle makes it possible to help really quickly...

[2012-11-08 17:09] ProLoser commented on #258
Sorry mistake on my part, I was thinking about ng-view not ng-switch.
Ng-include lets you throw the contents of each step into its own partial,
and I think it would be safer to put controllers in each partial.
If your logic is not that big you could just not put ng-controller in the
partials or if the html is not that big you can just use switch.
On Nov 8, 2012 8:59 AM, "tadchristiansen" notificat

[2012-11-08 17:16] tadchristiansen commented on #258
Interesting. Thanks for the information. Right now I have all of the steps using the same controller because I have a step1, step2, step3, and then step4 is a review of steps 1, 2, and 3. This way all the steps share the same scope. I think I remember seeing a way to have the contollers share scope but the way I have it seems more straight forward to me (not that I am an expert or anything). Thank

[2012-11-09 04:29] jeveloper commented on #69
funny :)

[2012-11-12 02:39] ProLoser commented on #259
Try it and see?

[2012-11-12 05:46] ghost opened #260 "No compatible version found: grunt-recess@'>=0.1.3- <0.2.0-'"
<code>
npm ERR! Error: No compatible version found: grunt-recess@'>=0.1.3- <0.2.0-'
npm ERR! Valid install targets:
npm ERR! ["0.1.0"]
npm ERR!     at installTargetsError (/usr/share/npm/lib/cache.js:488:10)
npm ERR!     at next_ (/usr/share/npm/lib/cache.js:438:17)
npm ERR!     at next (/usr/share/npm/lib/cache.js:415:44)
npm ERR!     at /usr/share/npm/lib/cache.js:408:5
npm ERR!     at saved (/u

[2012-11-12 06:19] ProLoser commented on #260
Just tested npm install with the latest from master and it worked fine for me. Are you on the latest? grunt-recess was recently updated.

[2012-11-12 16:31] OClement commented on #245
Quick "update":

Looking at the directive and Codemirror's API (which I'm new to as well), I didn't feel quite comfortable in trying to fix/redo the directive just now.

In the meantime, I'm just forcing the CodeMirror's instance to refresh() once it's displayed using $timeout. Not very clean or elegant, but for now it works.

I feel like I sound like a spoiled brat commenting on those issue sayin

[2012-11-13 10:11] ProLoser commented on #245
This is the next item on my todo list now that I finally fixed the validate specs

[2012-11-13 22:26] jigneshjdesai opened #261 "Issue/Need help using ui-if with validation in AngularJS and Angular-UI"
Greetings folks,

I am trying to use ui-if directive to remove/add control for “Callback Date” on the selection of specific item from the drop down in my app. That is working fine. I have also added validation for required fields using AngularJS validation. The dynamic control “Callback Date” is required field if present on the screen and that control is added to the DOM using ui-if when user sele

[2012-11-14 00:00] ProLoser commented on #261
Removing html from the DOM does not affect the javascript's business logic
(such as what data is required and what isn't). You should instead /
additionally use ng-required.

On Tue, Nov 13, 2012 at 2:26 PM, jigneshjdesai notifications@github.comwrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Systems
California State Polytechnic University, Pomona
Telephone: 714-900-2254
Webs

[2012-11-14 06:40] #260 closed, assigned to nobody

[2012-11-14 06:41] #258 closed, assigned to nobody

[2012-11-14 07:31] ProLoser commented on #245
So I reviewed the code and it looks good to me. That being said you're sort of back to square one.

[2012-11-14 13:51] OClement commented on #245
Ok, thanks a lot for having taken the time to look over this, it's greatly appreciated.
I've been reading a bit more about Codemirror specific discussions, and it seems to be a widely accepted reality that you should refresh the editor instance once you're sure it's being displayed, usually using some delay.

Personally I don't think this is great and that it should be considered good practice, bu

[2012-11-14 13:51] #245 closed, assigned to nobody

[2012-11-14 18:47] ghost opened #262 "Where is the demo page in the repo?"
I am very interested in seeing the source for this http://angular-ui.github.com/ but I can't seem to locate it anywhere in the repo (and I did try grep).

[2012-11-14 18:50] pkozlowski-opensource commented on #262
It is in a separate repo under the angular-ui organization: https://github.com/angular-ui/angular-ui.github.com

[2012-11-14 18:50] #262 closed, assigned to nobody

[2012-11-14 18:50] ProLoser commented on #262
Why can't all bugs be this easy?

[2012-11-14 18:53] pkozlowski-opensource commented on #262
@ProLoser yeh, this would be awesome :-) I must say that I kind of like this CLOSE button in GH :-)

[2012-11-15 13:51] MykolaBilyi opened #263 "Select2 doesn't show initial values"
Select2 doesn't show initial values
This happens because it sets up the value before the actual plugin initialisation

http://plnkr.co/edit/Wckzzv?p=preview

[2012-11-15 17:00] jigneshjdesai commented on #261
Thanks for the reply Dean. That fixed the issue.

Many Thanks,
Jignesh

On Tue, Nov 13, 2012 at 6:00 PM, Dean Sofer notifications@github.comwrote:

##

Thanks & Regards,
Jignesh J. Desai

[2012-11-15 17:50] pkozlowski-opensource commented on #261
Guess this one can be closed now.

[2012-11-15 17:50] #261 closed, assigned to nobody

[2012-11-16 21:51] ghost opened #266 "ui-if breaks other directives inside it"
Inside a ui-if element, changing the value of a model no longer updates the scope. Is this a bug or something I'm messing up?

[2012-11-16 21:55] #266 closed, assigned to nobody

[2012-11-16 21:56] petebacondarwin commented on #266
Any chance this model is bound to a primitive value (i.e. a string or a
number) rather than a field on an object?  ui-if creates a new scope so
ng-model has no way of knowing where the primitive value came from.

On 16 November 2012 21:51, benwiklund notifications@github.com wrote:

[2012-11-16 21:56] ghost commented on #266
Ahh, okay, that was it. Thanks!

[2012-11-19 18:46] kanheren opened #267 "[angular-ui] Arrow up/down key not working"
13("enter" key press) is working fine for me but don't know why arrowKeyUp("38") and arrowKeyDown("40")  not working.

html code:

[code]

Controllers code:

[code]

[2012-11-19 22:56] ajoslin commented on #267
Note: you can write

[code]
or
[code]

And it will come out pretty, all colored up :smile:. I fixed it for you

Anyway, you are right.. ui-keypress doesn't work for arrow keys.  The browser keypress event just doesn't catch arrow keys for some reason.  It does work with ui-keydown or ui-keyup though: http://plnkr.co/edit/Y213z4?p=preview

[2012-11-19 22:57] #267 closed, assigned to nobody

[2012-11-20 18:07] ghost opened #268 "Select2 form field is always dirty"
Upon creating Select2 element is always dirty, even if no changes were done.

This happens because we trigger 'change' event for the element.

[2012-11-20 20:06] orneryd commented on #1
I don't think that our grid project really "fits" with this project. Our grid makes a lot of assumptions for you and is more than just a directive for a control. We are on version 1.2.1 and support grouping/server side paging, sorting , filtering and is becoming more of a full featured grid than what I think you would want for this ui-package.

[2012-11-20 22:56] ghost opened #269 "Error with bundled Bootstrap.min.js code?"
Uncaught TypeError: Cannot read property 'top' of null bootstrap.min.js:6

[2012-11-21 08:06] sweisman opened #271 "Date picker displays date correctly, but doesn't sync with source"
This is separate from, but related to, issue 201, which I also submitted.

I have a datepicker widget. The incoming values are of the format "yy-mm-dd". When I use this invocation:

&lt;input ui-date="date_options" ui-date-format="yy-mm-dd" ng-model="item.birth_date"&gt;

I get the widget to instantiate correctly, but when I modify the date and refer to item.birth_date later (eg for submitting a f

[2012-11-21 11:10] philjones88 opened #272 "Date ISO 8601 problem"
Hi,

I'm trying to use the Date directive with JSON returned from an ASP.NET Web API service.

It returns datetimes like:

{
receivedAt: "2012-11-20T11:02:49.1223416+00:00"
}

But I can't seem to get it working with the Date directive like:

<input ng-model="item.receivedAt" ui-date-format="yy-mm-dd" ui-date>

As it says:

Extra/unparsed characters found in date: T11:02:49.1223416+00:00

Any ideas

[2012-11-21 13:38] petebacondarwin commented on #272
I am looking into this.  I have just fixed a different bug and in the new version this doesn't seem to happen:
Can you try this out?
http://plnkr.co/edit/PLjGH2?p=preview
Pete

[2012-11-21 13:52] philjones88 commented on #272
Hi,

That works but can't get it into the UK/World format of yy-mm-dd without the same error though?

[2012-11-21 14:20] petebacondarwin commented on #271
@sweisman : I have fixed what I think is the problem with commit 2f10e50e98c438a00732edb9ba352fa31b8b77cf - in master now.

[2012-11-21 14:20] #271 closed, assigned to petebacondarwin

[2012-11-21 17:44] tiagoroldao opened #273 "Angular-ui in a CDN"
I believe angular-ui isn't in a CDN yet, wouldn't that be a good idea? Maybe http://cdnjs.com/ ?

[2012-11-21 19:16] ivangarcia2 opened #274 "Error in Select2"
I'm getting an error with the select2 component when I don't specify the ngMultiple attribute.

The error comes from line 96:

[code]

I have solved it this way:

[code]

This is the error shown in console if I don't apply the patch:

TypeError: Cannot read property 'exp' of undefined
    at watchFnToHumanReadableString (http://localhost/test.html:319:19)
    at Object.$delegate.**proto**.$watch (

[2012-11-22 01:23] dandoyon commented on #273
Great idea google may give us a place

Sent from my iPhone

On Nov 21, 2012, at 9:44 AM, tiagoroldao notifications@github.com wrote:

[2012-11-22 14:24] Letsan opened #276 "Select2 crashes when no ngMultiple option set"
Hi,

I have run across a bug a few times but I have a hard time reproducing it.

I have a Item Details page which allows to edit the Item's properties and then save them to the backend. Some of the details are select2 selects.
When the user opens the details page, the app loads the items data from the backend based on the URL. Data then gets populated in the different inputs of the page using ng-m

[2012-11-26 20:48] bvkimball commented on #263
I have this issue too.  I did this to fix it.  Its not completely right but should get you going in the right direction

[code]

[2012-11-26 20:54] ProLoser commented on #263
This looks like it would be the proper fix. You should open a pull request
with the patch.
On Nov 26, 2012 12:48 PM, "bvkimball" notifications@github.com wrote:

[2012-11-26 22:56] kanheren commented on #267
Thanks for the fix.

Its working in all the browser now.

[2012-11-27 06:17] vinniefranco opened #277 "FullCalendar directive - Non editable by default."
Is there reasoning behind removing the ability to drag and drop an event on the calendar? Also where is the functionality to change a model if the delta has changed from fullcallendar?

[2012-11-27 14:20] mpaulucci opened #278 "Select 2 with fetched model values"
Hi, I'm using select2 with models that I'm fetching with $resource. There seems to be a bug related when the plugin is initialized before the data comes from the servers, so the select2 does not show the initial values.

Here is a plunkr to illustrate the issue:

 http://plnkr.co/edit/ZgT3IR

Is there a way to manually tell the select2 to use this value?

Thanks!

[2012-11-27 18:20] ProLoser commented on #278
Looks like this may be a duplicate of #263

[2012-11-27 18:58] mpaulucci commented on #278
I looked at that issue before posting, and if I'm correct the issues are similar but not exactly the same.

In fact the proposed fix for #263 wouldn't solve this issue, because it is a fix for a select multiple.

[2012-11-27 20:50] ProLoser commented on #278
I don't follow you. This fix should resolve your problem.

On Tue, Nov 27, 2012 at 10:58 AM, Martin Paulucci
notifications@github.comwrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Systems
California State Polytechnic University, Pomona
Telephone: 714-900-2254
Website: www.DeanSofer.com
Github: github.com/ProLoser

[2012-11-27 21:05] mpaulucci commented on #278
[code]

In my code( angular ui @version v0.2.1 - 2012-09-19) `!isSelect` returns `false`, so the code where the fix goes is never executed. So I presume that that fix wouldn't change anything in my example. Am I missing something?

[2012-11-27 23:23] ProLoser commented on #278
Ah right. This is a different case though. I will have to dig around to
resolve this.

[2012-11-28 11:09] philjones88 commented on #272
Sorry, closed by mistake, your fix works but doesn't allow formatting to yy-mm-dd?

[2012-11-28 11:17] petebacondarwin commented on #272
What exactly are you trying to do?  Can you modify the plunker above to demonstrate?

[2012-11-28 11:24] philjones88 commented on #272
http://plnkr.co/edit/hNXtsN?p=preview

Brain freeze, re-reading it after a coffee I realise trying to put:

ui-date-format="yy-mm-dd"

Was silly, found all the options list at:

http://api.jqueryui.com/datepicker/

I'll close it again!

[2012-11-28 11:51] #272 closed, assigned to petebacondarwin

[2012-11-29 00:11] tsenying opened #280 "Please rebuild with ui-date-format fix"
Would you push a build for commit 2f10e50?

[2012-11-29 09:57] petebacondarwin opened #281 "Agree Release Process"
So someone has requested a new release containing fixes I pushed for the date directive.

What should the process be here?

Are we safe running releases off the master branch?

What checking is going into commits that are merged there?
Currently there are at least three failing tests in the master branch.  We shouldn't really be accepting merges into master until they have been shown to pass on a

[2012-11-29 10:01] ProLoser commented on #281
Agreed. I was thinking about this too when I saw that bug get opened.

My one and only question is regarding [Create a new release if
appropriate]. When do we determine a new release is NOT appropriate? I
realize that we are _hoping_ to put a large batch of fixes or updates
together and push them out at the same time but the bottom line is we don't
have anyone doing this on a regular basis in an o

[2012-11-29 10:11] petebacondarwin commented on #281
My view was that any bug fix (i.e. a PR that gets merged into 0.3.x) would
be released immediately, since this is an easy decision and doesn't break
anyone's current app.
If a new feature is added then we would be bumping to 0.4 and so that would
need a bit more thought and also it would be better to lump these kind of
changes together for easier release management.
So you would see in the tag lis

[2012-11-29 10:40] joshkurz commented on #281
So with this in mind the PR I have open atm would be merged in and tagged
as the 0.3.2 update. Then any future updates made to the calendar directive
would yield further 0.0.x increments.
If we add a new directive to the repo then that would be considered a new
feature yielding a 0.x.0 increment, or is a new feature something that can
be added to an existing directive as well?

Would there be a ne

[2012-11-29 10:42] joshkurz commented on #281
And my bad for leaving my email tag everywhere. Its an accident every time
I do it.

##

_Josh Kurz_
*

*

[2012-11-29 10:48] petebacondarwin commented on #281
If we are following the "Semantic Versioning http://semver.org/"
specification then every new feature is a minor release change:

   1.

   Patch version Z (x.y.Z | x > 0) MUST be incremented if only backwards
   compatible bug fixes are introduced. A bug fix is defined as an internal
   change that fixes incorrect behavior.
   2.

   Minor version Y (x.Y.z | x > 0) MUST be incremented if new, bac

[2012-11-29 16:29] c0bra commented on #255
Yes there's something definitely wrong with the sortable directive and how it's handling the options coming in. It seems like they're being scrubbed out on line 1040 as you say. I don't think "attrs.uiOptions" is even defined.

[2012-11-29 18:44] ProLoser commented on #281
So to clarify, I personally would throw additional unit tests into a patch.
And don't worry about the footers, happens for everyone.

On Thu, Nov 29, 2012 at 2:48 AM, Pete Bacon Darwin <notifications@github.com

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Systems
California State Polytechnic University, Pomona
Telephone: 714-900-2254
Website: www.DeanSofer.com
Github: github.com/

[2012-11-29 22:16] habdelra opened #282 "animate fade out suggestion"
Here is a suggestion for doing the animate with fade out. Look at this jsfiddle: http://jsfiddle.net/p69aT/3/

[2012-12-01 01:42] orneryd commented on #1
Look like we ended up joining anyways. http://angular-ui.github.com/ng-grid/

[2012-12-01 01:42] #1 closed, assigned to nobody

[2012-12-03 03:38] ProLoser commented on #282
This isn't really versatile/reusable.

[2012-12-03 03:39] #282 closed, assigned to nobody

[2012-12-03 04:24] sandipbhavsar opened #284 "Check for input type=date"
Hello People,

If browser support input type=date then angularUI datepicker will not appear.Use modenizr for checking support of type date.

[2012-12-03 04:32] ProLoser commented on #284
Duplicate of #230

[2012-12-03 04:32] #284 closed, assigned to nobody

[2012-12-03 06:03] joshkurz commented on #277
We have not removed the ability to drag and drop events. It depends on whether or not the event that has been created has the editable field set to true for that functionality to become present. The Events are whatever you want them to be by default. You would set the events however you please to get the desired outcome.

To change the model if a delta has been changed, you would need to customize

[2012-12-03 06:08] joshkurz commented on #281
ok so I just merged in the updated calendar, and also updated the version
number to 0.3.2.  Was this the correct move?

On Thu, Nov 29, 2012 at 1:44 PM, Dean Sofer notifications@github.comwrote:

##

_Josh Kurz_
*
Head of Web Development*
SEO
Social Media
Digital Photography
Internet Marketing

cell#      404-641-7807
office#    404-593-0851
fax#       404-506-9642
*Dillinger Media *
http://dillin

[2012-12-03 06:20] vinniefranco commented on #277
Thanks Josh,

I did work with the configurations and I have a very nice prototype now. Thanks for your input

[2012-12-03 06:33] joshkurz commented on #277
no problem. I am still going to implement a function that changes the model if the deltas change at all. This way it will show people where they should edit the code to hook up custom services to create a persistent calendar.

[2012-12-03 06:34] #277 closed, assigned to nobody

[2012-12-03 06:40] joshkurz commented on #252
what about this instead?  http://plnkr.co/edit/kd6obP?p=preview  They do the same thing, expect this one works on slide rather than change, and is a little more simple.

[2012-12-03 09:02] ProLoser commented on #252
Neither of these are correct. You need to use the ngModel controller for
retrieving and setting the model value.

I would also add an option to specify if the model should be updated
constantly (while sliding) or just when you let go for performance sake.

On Sun, Dec 2, 2012 at 10:40 PM, Josh Kurz notifications@github.com wrote:

##

Dean J Sofer
DeanSofer@gmail.com

BS Computer Information Syste

[2012-12-03 10:57] petebacondarwin commented on #281
Hi Josh
This is not quite right.
First if you are happy to merge in your changes to the master, my personal preference is to rebase the local branch and then merge (fast forward only) onto master.  Then you get a much cleaner history without loads of merge commits and side branches everywhere.  Doing this is also a good discipline as it makes you think about the merge of your branch in more concre

[2012-12-03 13:55] lstrzelecki commented on #255
We tested this solution, and after change in sources sortable started working. It is unacceptable for changing sorces in library. So could you release fixed version, as soon as possible?

[2012-12-03 15:13] ajoslin commented on #255
Would you mind making a pull request with the fix?

[2012-12-03 17:42] ProLoser commented on #281
Side note. I might recommend making the merge / rebase separate from the
release commit. The commit that is tagged should only contain new build
files and changelog and nothing else. Thoughts @pete?
On Dec 3, 2012 2:57 AM, "Pete Bacon Darwin" notifications@github.com
wrote:

[2012-12-03 17:57] pkozlowski-opensource commented on #281
@ProLoser @petebacondarwin +1 for having a dedicated release commit. As @ProLoser is saying it should have only check-in of the build files (till we've got a better idea), version change etc. But we should really try to automate this process so cutting a release is easy.

[2012-12-03 18:04] pete commented on #281
@ProLoser Seems reasonable.

[2012-12-03 18:27] joshkurz commented on #281
Ok so I should have re-based everything together, which I thought I had,
and then built and tagged the release files. Overall there should have been
two commits. One for the changes to the files and one for the tagged
release build.

Is it ok?

On Mon, Dec 3, 2012 at 1:04 PM, Pete notifications@github.com wrote:

##

_Josh Kurz_
*
Head of Web Development*
SEO
Social Media
Digital Photography
Inter

[2012-12-03 18:32] joshkurz commented on #252
I agree Dean. Use NgModel and There should be an extra attribute added into
the directive that allows the user to choose either.

On Mon, Dec 3, 2012 at 4:02 AM, Dean Sofer notifications@github.com wrote:

##

_Josh Kurz_
*
Head of Web Development*
SEO
Social Media
Digital Photography
Internet Marketing

cell#      404-641-7807
office#    404-593-0851
fax#       404-506-9642
*Dillinger Media *
htt

[2012-12-03 19:37] petebacondarwin commented on #281
@josh: At least two commits - you don't have to squash all your changes
into one commit.  Just few enough to make it easy to see what you were
doing.  I tend to commit a lot in development but less in PRs.

On 3 December 2012 18:28, Josh Kurz notifications@github.com wrote:

[2012-12-03 20:42] davisford opened #285 "ui-select2 not found ?"
I'm using HEAD rev of angular-ui, and I've got this HTML

[code]

Unfortunately, this generates the following errors in the console:

[code]

I am passing in 'ui' in the angular module - since I'm also using the google maps directive from angular-ui without any problems.

[code]

If I change the attribute from `ui-select2` to `uiselect2` it seems to make the problem go away, and the binding looks

[2012-12-03 22:09] ProLoser commented on #285
Sounds like you forgot to include select2.js on the page. And by that I mean Ivan's select2.js (it does **not** come bundled with AngularUI).

[2012-12-04 05:16] joshkurz commented on #281
ok thanks Pete. I will take that into consideration as I make further PRs, and wont merge any until everyone is satisfied.

So what are the next steps then?

[2012-12-04 09:04] frapontillo opened #286 "Declaring directives in select2 formatSelectionTooBig"
Hello, I am using the `ui-select2` directive in my app, but there's a problem with directives declared in the string returned by the `formatSelectionTooBig` function, as they don't fire (of course, they work in regularly written DOM elements).

For example, I have the following function:

[code]

where the `translate` directive can be found [here](https://github.com/StephanHoyer/ng-translate) (any

[2012-12-04 09:27] ProLoser commented on #286
This is injected via Select2, ergo it's outside of the AngularJS scope.

You _could_ try compiling it manually before returning but I am not sure exactly how it will be injected or if it's safe from future bugs.

Instead, I would recommend separating out the translation-specific logic into a filter or standalone function (if possible) and running it on the string BEFORE returning it to Select2. Th

[2012-12-04 09:27] #286 closed, assigned to nobody

[2012-12-04 09:28] ProLoser commented on #285
Closing this bug. Feel free to comment if this needs to be reopened.

[2012-12-04 09:28] #285 closed, assigned to nobody

[2012-12-04 09:33] frapontillo commented on #286
Thank you for your reply. `ngTranslate` was not written by me, I'm using it with some editing, but it still is separated into service and directive. In fact, that's what I'm doing: I have injected the translate service into the controller and used it to translate the string before returning it to select2.

Still, I would have preferred to keep all of my translation logic in the DOM, so I can quick

[2012-12-04 11:01] isAlmogK opened #287 "Lot's of errors and issues"
I'm getting lot's of errors just using ui-if and model, I looked at the examples and my code is 100% the same not sure what's going on.

This is what I'm getting

TypeError: Object [[object HTMLDivElement]] has no method 'on'
at update (http://localhost:3501/scripts/vendor/angular.js:13696:11) <div id="modalGuy" class="fade ng-pristine ng-valid modal hide" ui-modal="" ng-model="modalShown">

Has t

[2012-12-04 11:14] ProLoser commented on #287
Can you paste some code you're using to create the problem? Or (better yet) a jsfiddle or plunker that reproduces this bug?

[2012-12-04 11:35] isAlmogK commented on #287
I can do a jsfiddle but not sure how to reproduce this as it's all in the view.

Here is what I'm doing for ui-if very basic

[code]

[2012-12-04 19:00] jdlaroche opened #289 "ui-select2 doesn't work in IE8"
When you try to use ui-select2 in IE8, you receive the following error : object doesn't support this property or method <select ui-select2 ng-model="abc">.

The problem is that IE doesn't support the String.trim() method called on line 878 (watch = repeatAttr.split('|')[0].trim().split(' ').pop();)

I fixed this by adding this script in my page :

if(typeof String.prototype.trim !== 'function') {

[2012-12-04 20:31] pmn commented on #280
+1 this would be very useful to me as well

[2012-12-04 22:29] ProLoser commented on #280
@joshkurz since you're going to (or already) doing this, do you mind making sure this gets in there too?

[2012-12-04 22:31] joshkurz commented on #280
sure thing

On Tue, Dec 4, 2012 at 5:29 PM, Dean Sofer notifications@github.com wrote:

##

_Josh Kurz_
*
Head of Web Development*
SEO
Social Media
Digital Photography
Internet Marketing

cell#      404-641-7807
office#    404-593-0851
fax#       404-506-9642
*Dillinger Media *
http://dillingermediaonline.com/wordpresshttp://dillingermediaonline.com

[2012-12-04 22:45] ProLoser commented on #289
Duplicate of #253

A new build needs to be pushed with the fix.

[2012-12-04 22:45] #289 closed, assigned to nobody

[2012-12-05 11:25] lstrzelecki commented on #255
Done

[2012-12-05 12:05] joshkurz commented on #280
the head is now on v0.3.2

[2012-12-05 12:05] #280 closed, assigned to joshkurz

[2012-12-05 12:07] joshkurz commented on #281
ok So i have pushed a new build version of the master file set. We are now on v0.3.2.

[2012-12-05 12:09] joshkurz commented on #269
are you sure this is angular-ui related?

[2012-12-05 12:45] petebacondarwin commented on #281
Well done Josh!

On 5 December 2012 12:07, Josh Kurz notifications@github.com wrote:

[2012-12-05 13:15] davisford commented on #285
Thanks -- sorry for the lag in response, I got hit by some kind of wicked flu, and spent the last couple days in bed.  I think your analysis is right - I did not explicitly include the select2.js

[2012-12-05 15:05] bfcamara opened #293 "jQuery Passthrough: two way data binding"
I am trying to use the jQuery Passthrough to integrated with spin.js jquery plugin (https://github.com/neteye/jquery-plugins/tree/master/activity-indicator)

[code]

In my controller i have the property isBusy.

I thought that changing the isBusy value in the model  would fire the $.fn.activity function, but as far as I can get I am wrong, right?

How can I get the intended bahavior?

Thanks in ad

[2012-12-05 15:29] callado4 commented on #274
I've seen this error when I have Batarang enabled, so it seems to be something related to what Batarang is doing.

[2012-12-05 18:13] djabor opened #294 "jq dialog passthrough doesn't destroy on app navigation"
Currently, when registering multiple passed-through Jquery-UI Dialogs over multiple views, the dialogs are appended to the page html successfully, but are not unregistered/destructed when navigating. This is causing the two-way binding to cease working for unclear reasons.

Example:
 two non-html5 views, with a dialog in each view:
# /main

[code]
# /gallery

[code]

when opening each of these pag

[2012-12-05 21:22] ProLoser commented on #274
1. Open a pull request
2. What line is 946 of your angular-ui.js?
3. What is the code in question on test.html?
4. Why do you think this fixes it? (`TypeError: Cannot read property 'exp' of undefined` does not seem related to multiple)

[2012-12-05 21:52] oskbor opened #295 "visualsearch.js integration"
Hello there! I want to propose an integration with the [visualsearch.js](http://github.com/documentcloud/visualsearch) library. Angular and visualsearch would be an extremely powerful combination in my opinion. Keep up the good work!

[2012-12-05 22:39] ProLoser commented on #295
We look forward to your pull request :-)
On Dec 5, 2012 1:52 PM, "oskbor" notifications@github.com wrote:

[2012-12-05 22:44] ProLoser commented on #295
It appears that visualsearch has a dependency on jQuery 1.4+, jQuery UI, Underscore.js, Backbone.js

That's kind of... a lot... especially considering AngularJS and Backbone are too alternative frameworks.

If they are going to have a dependency on jQueryUI they might as well use the WidgetFactory instead of Backbone :/

[2012-12-06 01:11] hyusetiawan opened #296 "date does not work on chrome if input type=date"
chrome came out with its own datepicker by defining input type="date". Unfortunately, it conflicts with angularui's date

the setup is simple:

[code]

and the value of store.to will be null

[2012-12-06 02:08] ProLoser commented on #296
Duplicate of #230

[2012-12-06 02:08] #296 closed, assigned to nobody

[2012-12-06 17:50] johntom opened #297 "IE 8 and 9"
Hi,
If I add the following line to my directives.js file without any other code I get the following errors in IE 8 and IE9 and my app breaks. No problem for Chrome and FF.
angular.module('myApp.directives', ['ui'])
TIA
John

references in index.jade
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jq

[2012-12-06 18:16] ProLoser commented on #297
Sounds like you should be downloading the lib files rather than using raw.github (github doesn't like serving assets remotely).

[2012-12-06 18:16] #297 closed, assigned to nobody

[2012-12-06 18:31] johntom commented on #297
Thanks Dean
I originally had a local reference and didn't realize that github issue because it never showed up in chrome.
very much appreciated,
John

[2012-12-08 00:30] #215 closed, assigned to ProLoser

[2012-12-08 00:30] #37 closed, assigned to nobody

[2012-12-08 00:36] #224 closed, assigned to nobody

[2012-12-08 00:39] ProLoser commented on #268
If you create a demo I may be able to tackle this one.

[2012-12-08 00:44] ProLoser commented on #276
Duplicate of #274

[2012-12-08 00:44] #276 closed, assigned to nobody

[2012-12-08 00:52] ProLoser commented on #278
Your plunker uses `ng-options`, which (as stated on the demo page) `ui-select2` explicitly does NOT support (due to weird-ass timing bugs).

This is the same plunker using `ng-repeat` http://plnkr.co/edit/IoNTyT?p=preview and it seems to work perfectly.

You actually can't/shouldn't use `initSelection` when in `<select>` mode because the bottom line is there's no "initilization" logic involved. Yo

[2012-12-08 00:52] #278 closed, assigned to nobody

[2012-12-08 00:54] ProLoser commented on #268
I'm thinking we can do something like `ngModel.$pristine = true` right after [this line](https://github.com/angular-ui/angular-ui/blob/master/modules/directives/select2/select2.js#L67) but I it may have to occur asynchronously.

[2012-12-08 15:40] ghost commented on #269
Nope; it was my fault because of something else.

[2012-12-08 15:40] #269 closed, assigned to nobody

[2012-12-08 17:22] garethdjames commented on #252
Is anyone working on this as an NgModel? I will have a look if no one is

[2012-12-09 13:45] joshkurz commented on #252
go for it...

[2012-12-09 15:30] isAlmogK opened #298 "Twitter Bootstrap Model"
Hi,
Wanted to request a feature would it be possible to have to another option for lightbox / model then Twitter Bootstrap Model.

We wanted to use this but when adding the bootstrap CSS file we have a number of issues with our current CSS files.

Also the Twitter Bootstrap Model has lot' of issues you can you even see this at http://builtwith.angularjs.org/

[2012-12-09 20:52] ProLoser commented on #298
Maybe we should replace it with this and move the existing one to the
bootstrap project instead.
On Dec 9, 2012 7:30 AM, "Almog Koren" notifications@github.com wrote:

[2012-12-09 20:58] pkozlowski-opensource commented on #298
Boostrap project has modal already: https://github.com/angular-ui/bootstrap/tree/master/src/modal

@almogdesign what are the issues you are talking about, exactly?

[2012-12-09 21:21] isAlmogK commented on #298
If your app already has CSS styles adding the Twitter Bootstrap CSS file creates conflicts. Twitter Bootstrap is designed to be the base making it hard to add the Model to an existing app. I would suggest something that does not create conflicts

[2012-12-09 21:25] ProLoser commented on #298
@pkozlowski-opensource I think it would be appropriate to finally remove ui-modal (or replace it with the one I linked to) altogether?

It was something I figured we'd do eventually anyway.

Here is the modal I intended to link to: http://plnkr.co/edit/gist:3758344?p=preview

[2012-12-10 16:37] isAlmogK opened #299 "Which version is stable for download / production?"
Hi wanted to know which version is good for download I see there are tags and the master?

[2012-12-10 17:41] joshkurz commented on #299
v0.3.2 is the latest version of angular-ui. The current build is the exact replica of the tag. The build is stable, with exceptions for the current bugs in play on the issues list that have not been resolved. Currently their is only one branch of angular-ui, which is the stable branch. The plan in the future is to have feature branches that are documented as unstable and one stable branch.

[2012-12-10 17:44] isAlmogK commented on #299
Do you recommend working fromt the tag or the master branch?

[2012-12-10 17:48] ProLoser commented on #299
We are generally careful not to merge into master broken code, but if you
work off of master you will have to build the files yourself. we only build
on each tag.
On Dec 10, 2012 9:44 AM, "Almog Koren" notifications@github.com wrote:

[2012-12-10 17:52] isAlmogK commented on #299
Thanks will stay with the tag don't fill like building them each time. Closing this still having issues with the model even when I remove all my CSS and just bootstrap is that stable?

[2012-12-10 17:52] #299 closed, assigned to nobody

[2012-12-10 19:47] isAlmogK commented on #298
I did get it working everything but the animation

[2012-12-10 21:22] isAlmogK commented on #298
Closing this and opening a new text, explaining what needs to be updated.

[2012-12-10 21:24] ProLoser commented on #281
So I was looking at Bootstrap, and it looks like they have a similar setup to ours:
1. There are no build files in their master
2. Their tags are on master and also do not contain build files
3. Only gh-pages branch has the download.zip, and it appears that they do not keep past revisions

For the sake of just having this sorted out, should we adopt a similar approach?

We could relocate the Angul

[2012-12-10 21:27] isAlmogK opened #300 "Twitter Bootstrap Model Issues"
So I had some issues with the Twitter Bootstrap Model, I finally got everything working I would suggest updating docs so other people don't run into this issue.

On the docs you have the following How? and then in the code example you have the

[code]

This is incorrect using the following javascript file the modal does not animate it. I went ahead and download the full bootstrap.js file.

Also it

[2012-12-10 21:29] ProLoser commented on #281
I kind of like this idea ^^ so unless someone vetos this in the next few days I will probably move forwards with it.

[2012-12-10 21:31] pkozlowski-opensource commented on #281
+1

Initially I was proposing moving build files to the angular-ui.github.com but since now we've got multiple repos under one angular-ui umbrella the `gh-pages` make more sense.

I guess that any change that gets the build files out of master is the good one. I would keep several versions (for different releases) in the gh-pages though.

[2012-12-10 23:31] ProLoser commented on #281
Well the revision history in the gh-pages branch would still contain the build files, but it wouldn't be tagged? (lest it show up in the list of tags as duplicates)

[2012-12-10 23:32] ProLoser commented on #300
Do you think you could open a Pull Request with the fixes? https://github.com/angular-ui/angular-ui.github.com

Would be amazingly appreciated!

[2012-12-10 23:34] ProLoser commented on #298
PINGING EVERYONE:

Should we go ahead and remove/replace this module?

I can put in a refined version of the demo I linked?

[2012-12-10 23:38] isAlmogK commented on #300
Yes of course will do it the mooring it's 2 am here, keep this open until I get done. Would be glad to join and help with docs, getting started guides, ect..

[2012-12-10 23:39] ProLoser commented on #300
If you're going to be that awesome, feel free to take any creative liberties you wish with the docs. No good ideas get rejected around here, so if you want to add more pages or what-have-you for a startup guide, etc, feel free.

[2012-12-10 23:40] isAlmogK commented on #298
No the model works great you just need to understand how to use it, the best thing to do is update docs they created most of the issues and maybe the CSS movie it to the UI CSS.

[2012-12-10 23:41] ProLoser commented on #298
I honestly think this implementation is no longer relevant to AngularUI as it is the only Bootstrap plugin in this project. There is already another project that is entirely bootstrap that contains the same functionality (or probably better).

[2012-12-10 23:43] isAlmogK commented on #298
What project is that would be glad to check it out. I think AngularUI needs more Bootstrap plugins it would be great. Bye the way we have an alert plugin we can open source will tell my CTO about this.

[2012-12-10 23:45] ProLoser commented on #298
https://github.com/angular-ui/bootstrap

[2012-12-11 18:00] pkozlowski-opensource commented on #298
+1 for redirecting people top the implementation in the boostrap repo. Hopefully soon we will have a nice contribution to this modal so it can be triggered from a controller / service.

[2012-12-11 18:03] pkozlowski-opensource commented on #281
What I'm after here is to be able to reference builds from a plunker / fiddle. Which basically means that we need to have several version available.

As gh-pages are generated I don't think tags will help much here.

So I would be still in favor of commiting released files with a version in their name to the gh-pages. Unless there is an easier way to be able to reference past releases and not hit

[2012-12-11 19:18] ProLoser commented on #281
Touche Salesman.

Back to the drawing board. I'm still thinking the build server is the 'proper' solution, just need to stop playing video games and actually work on it lol.

[2012-12-11 19:26] petebacondarwin commented on #281
Can't we just copy the build files into the gh-pages branch under their own
folder, i.e. that references their build version?

On 11 December 2012 19:18, Dean Sofer notifications@github.com wrote:

[2012-12-11 19:28] pkozlowski-opensource commented on #281
This would work for me as well :-)

[2012-12-12 15:48] habdelra opened #301 "Twitter bootstrap responsive navbar not working when angular UI is included"
It seems like the twitter bootstrap responsive navbar's "hamburger" button stops working when the angular UI modules are included in the page

[2012-12-12 15:59] joshkurz commented on #301
is there any way you could provide a jsfiddle or plunker of this error? I have never seen this before.

[2012-12-12 17:14] nidi3 opened #302 "datepicker is not closeable on IE"
On IE, when you select a date, the calendar popup is not closed and stays open.

The problem seems to be line 31:
element.datepicker("setDate", element.val());

removing this line, the problem disappears and the datepicker still works.
What is this line supposed to do?

[2012-12-12 18:07] pearlchen opened #303 "Codemirror directive not rendering due to "TypeError: Object [[object HTMLTextAreaElement]] has no method 'is'""
I was trying to include the CodemMirror directive but kept on getting a:

[code]

When I dug deeper, `elm` was actually an Array. So this works:

[code]

Example:
http://jsfiddle.net/pearl/MLbW9/

However I don't get this error on the http://angular-ui.github.com/ webpage, where CodeMirror obviously works.

[2012-12-12 18:21] ProLoser commented on #303
Interesting. You can either add jQuery or we can write out code for $.fn.is()

##

Dean Sofer

On Wednesday, December 12, 2012 at 10:07 AM, Pearl Chen wrote:

[2012-12-12 18:50] pearlchen commented on #303
Oh! I see.... .is() is a jQuery method.

I'll include jQuery but I think it would be good to clarify in the README requirements that jQuery _is_ an requirement.

"jQuery / Plugins (depends on directive). Check specific directive dependencies for more information" is vague and nothing led me to believe that jQuery was required for CodeMirror after digging around. (And seems strange, in this scenari

[2012-12-12 18:50] #303 closed, assigned to nobody

[2012-12-12 19:21] petebacondarwin commented on #302
@nidi3 Have you tried removing it and running the unit tests?

[2012-12-13 08:20] ProLoser commented on #293
Changing the options does not refire the directive. At this time the passthrough does not support being re-fired more than once. I've been trying to think of good ways to make this possible, but I do not have any clear ideas for a good API to accomplish this.

[2012-12-13 08:21] #157 closed, assigned to nobody

[2012-12-13 17:04] marknadig opened #305 "keypress move into ng namespace"
I would like to see the keypress directive right in the ng namespace. I think the angular-ui implementation is more complete than my pull request. See discussion:

https://groups.google.com/forum/#!topic/angular/_XZpuDRSoJ8

Thoughts about submitting this directive to core?

[2012-12-13 19:49] marknadig commented on #305
feedback from Igor on core was ui-kepress was more weighty than he'd like to see in core, so closing.

[2012-12-13 19:49] #305 closed, assigned to nobody

[2012-12-13 20:23] ProLoser commented on #135
http://plnkr.co/edit/tJ5amoJGXwgOmX4VZf8j

[2012-12-13 20:23] ProLoser commented on #193
http://plnkr.co/edit/tJ5amoJGXwgOmX4VZf8j

[2012-12-14 04:43] timothyswt opened #306 "ui-virtualize directive"
In working on ng-grid I am going to be writing a directive for virtualizing the scrolling for any element's children.

the general idea is that the ui-virtualize directive would be either a class or attribute and take all of the elements inside, get their measurements and coordinates, find out if they would be overflowing and keep the elements in memory until they would become visible due to scrol

[2012-12-14 06:59] petebacondarwin commented on #306
+1

On 14 December 2012 04:43, Tim Sweet notifications@github.com wrote:

[2012-12-14 22:37] emkman opened #310 "angular-ui breaks non-modal bootstrap dismiss"
We have a rails flash message that looks like this:

[code]

bootstrap.js allows this to automatically be dismissed by clicking the x, however including angular-ui.js breaks this functionality. Is there another attribute I can add to make this work? I only see examples in angular-ui relating to modal dialogs, which do still work for us.

[2012-12-15 04:16] rodem opened #311 "Tabindex for Select2"
In example: http://plnkr.co/edit/2LGl9c9plI2YjRFU2m0m?p=preview
If only keyboard navigated do follow:
1. select with mouse "input1"
2. hit "tab" - focus jumps to select2.
3. press "down arrow" and select any value in list, hit tab to "input2"
4. pressing "shift-tab" to go back to select2 skips it and goes to "input1", have to focus on select2
5. select2 becomes unaccesible from keyboard navigation

[2012-12-15 11:10] ProLoser commented on #311
Is this a bug with angular ui or with select2 itself? If it's the latter then you should close this ticket and instead open one on that project.

[2012-12-15 11:29] rodem commented on #311
Sorry seems Select2 3.2 bug.

[2012-12-15 11:29] #311 closed, assigned to nobody

[2012-12-16 22:11] prasad83 opened #312 "CodeMirror support broken with version 3.0"
onChange handler is not getting triggered with codemirror 3.0 which breaks ui-codemirror model update.

The fix below worked:

[code]

[2012-12-17 00:13] kjakub commented on #148
yes, here too. Any clue?

[2012-12-17 00:18] ProLoser commented on #148
This should be fixed in master and the latest release. I do not see the error in the fiddle.

[2012-12-17 00:19] ProLoser commented on #148
@kjakub if you can confirm this is fixed in the latest version I will close this ticket.

[2012-12-17 00:31] ProLoser commented on #312
So definitely seems that there was a breaking API change with CodeMirror.

My question is should we reflect this by breaking support for v2 with this change?

[2012-12-17 00:33] ProLoser commented on #312
Nevermind looks like your proposed fix is non-destructive. Have you thought of opening a PullRequest with the fix in the future?

[2012-12-17 03:17] douglasduteil commented on #312
Yep I had the same problem. Here is how I solved it...
Demo : http://jsbin.com/aqecex/2/
Code : https://gist.github.com/2a00bea5db6293b6f4b3

[2012-12-17 06:08] ProLoser commented on #312
@douglasduteil want to open a PR with the fix?

[2012-12-17 12:17] douglasduteil commented on #312
Sure, why not :)
But it's not really fixed...
It seems like after the connection is done the compiler just don't care about the rest...

Demo : http://jsbin.com/aqecex/5/

[2012-12-17 18:06] kjakub commented on #148
@ProLoser ticket is fixed - correct. Gem https://rubygems.org/gems/angularjs-rails is outdated. taking back.

[2012-12-17 20:06] douglasduteil commented on #312
K !
This only occurs in the parent node !
Demo : http://jsbin.com/aqecex/6/

[2012-12-17 21:25] davisford commented on #274
Ditto here -- I just did a git pull on HEAD of angular-ui and rebuilt (commit c95c16ee9cfd080b389bbe4eb8ce16662ce06a2b), definitely seems to be triggered by Batarang.  If I enable batarang, I have the error noted above; disable batarang and it goes away.

For reference the HTML I have is this:

[code]

[2012-12-18 10:32] #148 closed, assigned to nobody

[2012-12-19 08:56] #312 closed, assigned to nobody

[2012-12-19 09:34] gduquesnay opened #315 "Select2 $digest already in progress when model is updated"
Trying to set the model that is bound to a select2 throws $digest already in progress.

click on test in the jsfiddle bellow and see the error in the console.
http://jsfiddle.net/7AvKZ/38/

Occurs with the master but doesn't seem to happen with version select2-3.2
http://plnkr.co/edit/gOf4nWzpmjg73GLMZI0m?p=preview

[2012-12-19 09:50] ProLoser commented on #315
1. Really helps to NOT used the minified version during debugging / development
2. You should also mention that you're getting this error with AngularJS v1.1.1 (is this stable?)
3. Copying the master code into the plunker seems to _not_ have errors either
4. I only have 1 $scope.$apply() in the entire Select2 directive, which happens inside of `elm.bind('change')`
   - Does this mean the new API a

[2012-12-20 11:04] douglasduteil opened #317 "New code editor : ACE"
### I started working on adding [ACE](http://ace.ajax.org/) to AngularUI.

[Demo (broken)](http://jsbin.com/eperos/1)
It's doing great but I still question myself about the _good_ way to inline the options in the HTML.
- CodeMirror have a syntax like :

[code]
- I'm proposing that for ACE :

[code]

What you think ?

[2012-12-20 11:08] petebacondarwin commented on #317
I think for options that are required or used all the time it is helpful
and clearer to have them in their own attribute.
For all other options, especially rarely used one, then it is nice to have
them in a config object like ui-codemirror.  This also makes it easier to
pass in and modify the config programmatically.

On 20 December 2012 11:04, Douglas Duteil notifications@github.com wrote:

[2012-12-20 16:49] vinnitu opened #318 "i need splitter solution for angular"
somebody known such?

can it be putted in pull requests?

[2012-12-20 22:52] jzbruno opened #319 "jQuery Passthrough with jQuery Isotope plugin"
I am trying to get jQuery Passthrough to use a jQuery plugin called Isotope which orders and arranges elements. http://isotope.metafizzy.co/ but I am not having any luck.

Here is a basic example without Angular, it just orders the items in a row alphabetically
http://jsfiddle.net/jzbruno/SZZTh/9/

But when I try to use this with AngularJS through Angular-UI the data is not rendered. (you can see

[2012-12-21 20:25] bdefore opened #320 "DatePicker README incorrect"
Note that adding ui.directives.date to the angular.module call causes an error, but adding ui.directives does not:

http://jsfiddle.net/pkozlowski_opensource/aGpNf/6/

[2012-12-21 20:27] petebacondarwin commented on #320
Good point.  This was from the days when I was putting all my directives
into their own modules :-)

On 21 December 2012 20:25, Buck DeFore notifications@github.com wrote:

[2012-12-21 20:31] petebacondarwin commented on #320
Fixed in 67d10aee5d70da7b8b142e3056fdf83d4faaca98

[2012-12-21 20:31] #320 closed, assigned to nobody

[2012-12-21 20:43] moperacz commented on #306
+1

[2012-12-21 20:47] ajoslin commented on #306
+1:+1:

[2012-12-22 08:56] ProLoser commented on #319
`ui-jq` will not work for this as the children elements have not been rendered by the time the container has been rendered (rendering is done from TOP to BOTTOM, PARENT to CHILDREN).

You may need to create your own directive or suggest ways in which to expand the versatility of `ui-jq` (I've been tossing around the idea of having a 'delay' option that when enabled, sort of hackishly bypasses most

[2012-12-23 06:48] nilskp opened #321 "Integrate prettyCheckable"
Integrate the good lookin' checkbox plugin http://arthurgouveia.com/prettyCheckable/

[2012-12-23 08:27] petebacondarwin commented on #321
If you take their images and css it would not be hard to do this in pure
angular using ng-click.

... sent from my tablet
On Dec 23, 2012 6:48 AM, "nilskp" notifications@github.com wrote:

[2012-12-23 09:43] ProLoser commented on #321
Any reason this won't work with `ui-jq`?

[2012-12-23 09:44] ProLoser commented on #318
You're going to need to add some explanation because I have no idea what you're asking.

[2012-12-23 09:44] #318 closed, assigned to nobody

[2012-12-23 09:52] nilskp commented on #321
Haven't tried using ui-jq, but it seemed like a good component to integrate. If not, just close this issue.

[2012-12-23 10:54] ProLoser commented on #310
There is no reason why this would be occurring. If you provide a simple fiddle or plunker demo demonstrating this issue it will make it easier for us to address this issue.

[2012-12-23 12:18] nilskp commented on #321
Wow, that was easy :-)

Thanks.

[2012-12-23 12:26] nilskp commented on #321
I guess I was too quick, because ng:change is no longer triggered, presumably because these types of ui mods changes the underlaying DOM. In this case the checkbox is hidden and the graphical checkbox is overlayed. It does programmatically set the "checked" attribute, but somehow Angular isn't picking that up to trigger ng:change.

[2012-12-23 13:38] nilskp commented on #321
I'm reopening, even though I'm not sure if this is a problem with angular-ui or not. The code does invoke the JQuery change() method, which presumably ought to trigger the ng:change method, but does not.

[2012-12-23 23:37] jilljenn opened #322 "ui-sortable update function is never called"
I can't make the update function work.
http://jsfiddle.net/Le_Sphinx/YcwWW/

This implementation seems to work though:
http://jsfiddle.net/7eTMV/20/

Am I doing something wrong?

[2012-12-24 01:42] ProLoser commented on #322
If you look at the source code (instead of working with a minified version) you will find that `ui-sortable="whatever"` is completely ignored (oddly) and instead `ui-options` is used instead.

Really need to touchup this directive and add docs.

[2012-12-24 01:48] jilljenn commented on #322
Sorry, I actually looked at the code but didn't notice it. Thanks.

[2012-12-24 08:55] vinnitu commented on #318
I mean something like this  http://methvin.com/splitter/

sorry for delay

[2012-12-24 16:46] petebacondarwin commented on #318
This could be a fun directive to provide.  What does Plnkr use?  They have
a splitter.
Pete

On 24 December 2012 08:55, vinnitu notifications@github.com wrote:

[2012-12-26 13:23] douglasduteil commented on #318
Hum... Plnkr use [jQuery Layout](http://layout.jquery-dev.net/).
It's pretty simple to use. I have given it a try [here](http://jsbin.com/asetog/1/)

The minimal structure is that :

[code]

How about simplify it like that:

[code]

Or :

[code]

[2012-12-26 17:01] isAlmogK opened #323 "Does Select2 support Select2 3.2 Multi-Value Select Boxes?"
Wanted to know if Select2 supports Select2 3.2 Multi-Value Select Boxes? And if so are there any example on how to do this with Angular.JS / Angular.UI?

[2012-12-26 18:53] ProLoser commented on #323
http://ivaynberg.github.com/select2/#multi

[2012-12-26 18:53] #323 closed, assigned to nobody

[2012-12-27 10:03] sarbogast opened #324 "Integration with x-editable"
It would really be magical if angular-ui could integrate x-editable (http://vitalets.github.com/x-editable/index.html) with angularjs in a standard way. I've been tinkering with that for a few days but I don't understand enough of how directives work to get it rolling as it should. I would really love to have a directive that makes any text element editable and allows me to call a controller funct

[2012-12-27 16:36] #322 closed, assigned to nobody

[2012-12-27 17:32] ProLoser commented on #324
This looks like it should work pretty easily with the pass through
directive. You should try testing it with that first. It's the first
directive on the demo page.
On Dec 27, 2012 2:04 AM, "Sebastien Arbogast" notifications@github.com
wrote:

[2012-12-27 20:51] sarbogast commented on #324
I'm trying it out here: http://jsfiddle.net/sarbogast/b2dZ6/

But as you can see, it doesn't quite work as expected when the editable value is data-bound. Is there a way to make it work or is it a case of "requires a directive"?

[2012-12-27 21:30] i-am-logger commented on #273
are there any news regarding CDN ?

[2012-12-27 22:00] ProLoser commented on #273
Been too busy and felt it raises new concerns, such as our build process and stability of the lib.

Regardless, nothing's stopping you from doing this yourself on our behalf to cdnjs like @tiagoroldao mentions

[2012-12-27 22:02] ProLoser commented on #324
Actually I tried slapping together a directive and I can't seem to figure out why the model is not reflecting the changes: http://jsfiddle.net/b2dZ6/2/

Feel free to play around with it.

[2012-12-27 23:53] moperacz commented on #324
scope.apply made it work...

http://jsfiddle.net/n8K39/

[2012-12-28 00:28] ProLoser commented on #324
/me facepalms.

Duh. Completely forgot.

Now the question becomes should we merge this into the core, come up with some super versatile directive that can tackle editable, or just let you use your own implementation?

I guess it can't hurt for you to create a branch on your own fork and open a pull request with this code, but it will have to abide by our coding requirements and try to put together

[2012-12-28 11:59] sarbogast commented on #324
Thanks a lot dudes. I'll play with it for a while to see how it integrates with my real use case and try to open a pull request afterwards.

[2012-12-31 00:09] martin-wintz opened #325 "uiSortable not compatible with option "connectWith""
The problem with uiSortable is that it assumes the update is a rearrangement of the group of elements, but in case of connectWith, the update could be a removal/insertion of an item, so re-sorting is not appropriate.

So we have at three cases for update: we are rearranging the list,  we are removing an item from the list, or we are inserting an item into the list. The latter two cases can be hand

[2012-12-31 20:15] DanielHeckrath opened #326 "Using the TinyMCE directive with ng-repeat"
I'm trying to combine the TinyMCE directive with the Bootstrap Taps directive and I'm running into a problem.

While TinyMCE is displayed properly on the first tab, its displayed as a normal textview on the other tabs.

Further testing showed that this behaviour occurs whenever I use the TinyMCE directive within a ng-repeat loop

My code looks like this:

[code]

[2012-12-31 20:27] andyczerwonka opened #327 "modal dialog not working with Bootstrap 2.2.2"
I hope this isn't a false positive, but I can't see to get the modal dialog to work. I started with the raw bootstrap dialog. I then migrated it to the example of the demo page. The whole page goes modal, but I get no dialog. Is there a jsFiddle or some working example I can follow to make sure I have it right?

[2012-12-31 20:30] andyczerwonka commented on #300
Any update on this? I'm having issues getting the modal dialog to work and I'm wondering if it's related.

[2012-12-31 20:33] pkozlowski-opensource commented on #327
@andyczerwonka Andy, we are migrating bootstrap-specific directives to a separate repository here: https://github.com/angular-ui/bootstrap

The directives in this repo don't have _any_ dependency on the bootstrap's JavaScript so should work with most of the versions without any issues. I'm just working on the demo page, you can see the preview of it here:
http://ci.angularjs.org/job/angularui-boot

[2012-12-31 20:37] andyczerwonka commented on #327
Cool! Should I just grab

https://github.com/angular-ui/bootstrap/blob/master/src/modal/modal.js

and go from there?

[2012-12-31 20:39] pkozlowski-opensource commented on #327
yep, this is all what you should need (2.15kB, no-minified) :-)

[2012-12-31 20:49] andyczerwonka commented on #327
Hmnnn.. strange. It's not working. I removed the bootstrap.js, added modal.js and copy & paste your example from http://ci.angularjs.org/job/angularui-bootstrap/ws/dist/index.html

The div contents are rendering right on the page.

[2012-12-31 20:55] ProLoser commented on #300
@andyczerwonka this actually will be removed from AngularUI in the near future as it has been relocated to [angular-ui/bootstrap](https://github.com/angular-ui/bootstrap)

[2012-12-31 21:12] pkozlowski-opensource commented on #327
I presume that you didn't add dependency on a module:

`var app = angular.module('yourModule', ['ui.bootstrap.modal']);`

Anyway, here is a working plunk: http://plnkr.co/edit/a0kIUDEpkOofGkAG6xid?p=preview

[2012-12-31 21:17] andyczerwonka commented on #327
Oops... still new to Angular... sorry to waste your time. Once I added the module dependency, all it working just fine.

[2012-12-31 21:22] pkozlowski-opensource commented on #327
Cool, glad that it worked :-)

It just shows that we need to add info about this module dependency!

[2012-12-31 21:22] #327 closed, assigned to nobody

[2012-12-31 23:14] andyczerwonka commented on #300
Yes, I solved my issue by going there and grabbing modal.js directive.

[2012-12-31 23:42] DanielHeckrath commented on #326
This was a stupid mistake on my side. The problem occured because the element id was the same for all textviews.

[2012-12-31 23:42] #326 closed, assigned to nobody

[2013-01-03 13:52] sarbogast commented on #324
I'm currently playing with this directive and I've come to realize that I need to plugin into the save event in order to send the modified data to the server right away. How can I modify this directive (http://jsfiddle.net/n8K39/) so that I can write something like this?

[code]

[2013-01-03 18:29] ProLoser commented on #324
Don't bother. Just do $scope.$watch() if you REALLY want to do immediate AJAX.

##

Dean Sofer
DeanSofer.com
714.900.2254

On Thursday, January 3, 2013 at 5:52 AM, Sebastien Arbogast wrote:

[2013-01-04 10:32] h0ru5 opened #329 "ui-date-format not working?"
Hi,

When trying to use ui-date with iso-format by using ui-date-format no effect is noticable. seems broken.

see also http://jsfiddle.net/zv2n8/24/

[2013-01-04 11:20] petebacondarwin commented on #329
If you use ui-date-format then you must pass a string in the model.

Pete
...from my mobile.
On Jan 4, 2013 11:33 AM, "h0ru5" notifications@github.com wrote:

[2013-01-04 11:27] h0ru5 commented on #329
Tried around with passing strings as format as well as strings instead of date, but no success.
see also: http://jsfiddle.net/zv2n8/34/

but i did get a working solution by passing it like that: ui-date="{'dateFormat' : 'yy-mm-dd'}", of course i could also use ui.conf.

[2013-01-04 13:00] petebacondarwin commented on #329
If you don't use ui-date-format then ui-date accepts a Date object in the
model. The ui-date-format is purely about shaving a string in the model.
The config you have used is only for configuring the jquery date picker. In
particular the format in which the date is displayed in the input box.

Pete
...from my mobile.
On Jan 4, 2013 12:27 PM, "h0ru5" notifications@github.com wrote:

[2013-01-04 15:25] fingermark opened #330 "Potential bug in date.js"
I was looking at the code in [date.js](https://github.com/angular-ui/angular-ui/blob/master/modules/directives/date/date.js) and noticed on line 27 that it checks if `controller` exists.  then on line 65 it calls a method of `controller`, regardless if `controller` exists or not.  so, if `controller` may not exist, shouldn't there be a check?  furthermore, the method it calls, `$render`, seems to

[2013-01-04 20:16] coldfire22x opened #331 "date not updating UI when existing date object is modified"
I've noticed that the ui-date directive will respond when the model (a Date object) is replaced with an entirely new Date object, however it does not update the display if the existing Date object is modified via date.setDate().

If you manually set up a $watch on the existing Date object, it does fire the callback when updating via date.setDate() so I'm wondering if it's a bug that the display do

[2013-01-05 02:21] scottromack opened #332 "Inflector example seems to be broken"
in the app.js

function InflectorCtrl($scope) {
    $scope.inflectorText = 'Here Is my_phoneNumber';
    $scope.inflectorType = 'humanize';
}

in the demo page there are options for
     Humanize (Default)
     Underscore
     Variable

but nothing happens, no errors are thrown that I can see.

[2013-01-05 02:24] scottromack commented on #332
Oh, the paragraph was commented out for some reason..

around line 938

<p>{{inflectorText|inflector:inflectorType}}</p>

[2013-01-05 02:34] ProLoser commented on #332
Fixed angular-ui/angular-ui.github.com#28

[2013-01-05 02:34] #332 closed, assigned to nobody

[2013-01-06 18:00] petebacondarwin commented on #330
Thanks @fingermark, this is incorrect but doesn't show up as it is the last line in the function and the $watch swallows the exception that it causes.  Seems it this bug appeared when the directive was converted from coffeescript.

I have fixed and landed in e67bbce5ad3b3e924391530d3142ef7e8c83f1d9
Thanks for noticing.

[2013-01-06 18:00] #330 closed, assigned to nobody

[2013-01-06 18:42] petebacondarwin commented on #331
Hi @coldfire22x.  Thanks for spotting this.

To progress bugs like this, it would be really helpful to have a bit of runnable code, perhaps a Plnkr: http://plnkr.co/edit/AKX5bxbfpG1JEN5H7Fgo?p=preview, or even better a Jasmine unit test that demonstrates the problem.

As you can see from the Plnkr above, the identity of the date object does not change when we call setDate.  This means that while t

[2013-01-06 20:44] ProLoser commented on #331
You're just going to watch by. Value instead of by reference right?
On Jan 6, 2013 10:42 AM, "Pete Bacon Darwin" notifications@github.com
wrote:

[2013-01-06 21:42] GuillaumeBiton opened #333 "Typeahead directive"
Here you can find a implementation of Bootstrap typeahead as AngularJS directive :

http://jsfiddle.net/guillaumebiton/hNxF7/

Don't really know how to contribute and purpose a commit if you find it interesting.

Hope it helps.

Regards

[2013-01-06 21:59] pkozlowski-opensource commented on #333
@GuillaumeBiton we've got a separate repository for the bootstrap specific staff:
https://github.com/angular-ui/bootstrap (demo here: http://angular-ui.github.com/bootstrap/) and since your directive is a native-AngularJS stuff it fits nicely into the project.

Would be awesome if you could open a pull request in the https://github.com/angular-ui/bootstrap repository?
This would be the best way co

[2013-01-06 22:34] petebacondarwin commented on #331
That is plan A, but I wanted to have a think about the repercussions of
doing so...

On 6 January 2013 20:44, Dean Sofer notifications@github.com wrote:

[2013-01-07 08:08] GuillaumeBiton commented on #333
Ok I will try to open a pull request and create a branch "typeahead" in the right repository.

[2013-01-07 08:08] #333 closed, assigned to nobody

[2013-01-07 16:25] pavelsavara commented on #274
Same issue with select2 , AngularJS v1.1.1 and latest Batarang from web store (where could I check it's version ?).

[2013-01-07 18:34] robertjchristian opened #334 "Please consider a directive for Galleria"
It would be great to have built-in support for galleria (http://galleria.io/), particularly (a) multiple themes, and (B) the ability to update (bind) galleries when the model changes.  Also appears to be a little bit of chicken and egg due to the fact that ng hides divs (ways around this but not completely intuitive).

[2013-01-07 18:50] dandoyon commented on #334
Nice library, the team has been focusing on bootstrap, carousel was committed a few days back.

https://github.com/angular-ui/bootstrap/tree/master/src/carousel

This does look a lot nicer and more feature rich.

On Jan 7, 2013, at 10:34 AM, Robert Christian wrote:

[2013-01-08 18:45] jbeard4 opened #335 "ui-keypress demo fails in every browser except recent Firefox"
Steps to reproduce:
1. Navigate to angular-ui keypress demo in recent Chrome, Safari, Opera or IE9 on Windows 7: http://angular-ui.github.com/#directives-keypress
2. Press Enter in any of the three text areas.

Expected behavior: An alert box should open.

Actual behavior: An alert box does not appear.

[2013-01-08 18:47] ProLoser commented on #335
Works for me. Maybe clear your cache?

##

Dean Sofer
DeanSofer.com
714.900.2254

On Tuesday, January 8, 2013 at 10:45 AM, Jacob Beard wrote:

[2013-01-08 18:51] #335 closed, assigned to nobody

[2013-01-08 18:51] jbeard4 commented on #335
It was our corporate firewall blocking some scripts. Firefox was the only browser using a proxy.

[2013-01-08 20:55] scharissis opened #336 "Date/Calendar Picker"
Hi,

Firstly, thanks for angular-ui.

It seems to me that the default functionality of the calendar is broken (or at least very unintuitive). Specifically, when you select a date you can't re-select one immediately afterwards. One needs to first click-away and then back on it. This can occur, not only if one selects the wrong date and wishes to change it straight away, but also if you want to scan

[2013-01-08 20:57] ProLoser commented on #336
Sounds like a scope.apply() is missing
On Jan 8, 2013 12:55 PM, "Stefano Charissis" notifications@github.com
wrote:

[2013-01-08 21:34] scharissis commented on #336
It seems that the critical section is this one: [directive 'uiDate']

[code]

Is there a way to un-focus an element? That could go where I've marked 'TODO'.

[2013-01-08 21:44] scharissis commented on #336
Aha!

This fixes it, although perhaps inelegantly:

[code]

[2013-01-08 21:55] petebacondarwin commented on #336
Hi Stefano,

Thanks for spotting this.  I am a bit worried that it would cause problems
if someone is trying to type in a date instead of clicking on the calendar.
I wonder if it would be safer to add this blur after line 42:
https://github.com/angular-ui/angular-ui/blob/master/modules/directives/date/date.js#L42
?

opts.onSelect = function (value, picker) {
              updateModel();

[2013-01-08 22:01] scharissis commented on #336
Hi Pete,

No worries; thanks for the library.

Yes, I share your concern and I'm certainly not the person to answer this question. But, running the tests would at least give us some confidence.

I'll gladly put together a pull request after giving it a more thorough look. I'm not sure how long it'll take, as I'm new to JS and Jasmine in particular. But perhaps I'll find how to mock it by looking a

[2013-01-08 22:05] petebacondarwin commented on #336
Hi Stefano,
It'll be an excellent learning opportunity for you!  The date directive has
pretty comprehensive tests that you can use to guide you.
The trickiest bit is getting testacular up and running.
Feel free to ping me with questions.
Pete

On 8 January 2013 22:01, Stefano Charissis notifications@github.com wrote:

[2013-01-09 01:53] scharissis commented on #336
I can't seem to write a failing test.

I've tried:
1. Using selectDate() consecutively a number of times and then checking for the correct Date.
2. Using selectDate() and click() and checking is(":visible")

I'm presently out of ideas. Got any?

[2013-01-09 10:14] abanctelchevrel commented on #319
Any use of directives (in your case ngRepeat) within the jQuery passthrough will mostly fail, due to how Angular renders the markup.
I had a similar issue trying to use the [tagit jquery plugin](http://webspirited.com/tagit/) via angular-ui jQuery passthrough.

A dirty way of solving your issue would be to wrap the call to the plugin in a setTimeout(0), replacing [this line](https://github.com/ang

[2013-01-09 10:41] petebacondarwin commented on #336
I had a play with this.  You are right that we can blur inside the
updateModel as this only gets called when the date is selected or the input
is losing focus (i.e. on change event).
I have pushed a test (
https://github.com/angular-ui/angular-ui/commit/3f8a548788e36bc3a5c407402d44170cfa31444c)
and a fix (
https://github.com/angular-ui/angular-ui/commit/819fda12051979ff22a6430729495fd9ab61ddc3
)

[2013-01-09 11:13] scharissis commented on #336
Yes, I was going to tell you that I'd come to believe it should indeed be placed in the updateModel.

My concern here is whether or not this test covers the issue. I'm not saying it's not - I'm honestly not sure. I'd have thought you'd have to emulate clicking whilst checking the element active state. But I couldn't get that working.

Anyway, good work and I'm sorry I couldn't save you the trouble

[2013-01-09 11:24] petebacondarwin commented on #336
This test definitely fails before you add the element.blur().  So it is a
valid test for something!
In this case I think it is enough, since we are not trying to test the
jQueryUI datepicker plugin, just how we are interacting with it.  It turns
out that if you don't have ng-model attached to the element then there was
no problem so it was not an issue with the plugin but with what we were
doing w

[2013-01-09 15:14] steinerj commented on #227
Any news on this list? We're trying to get "autocomplete" to work, but we're failing miserably...

[2013-01-09 16:07] arthurgouveia commented on #321
Hello, @nilskp!

I'd love to help on integrating the plugin on angular-ui, but as I've never worked with it, I'm not sure where or how I could be of any help.

Maybe if you can give a working example of the problem, I might be able to help either by modifying the JS that would be inserted on the project for the prettyCheckable implementation or giving you a workaround to do what you need.

Let me

[2013-01-09 16:21] nilskp commented on #321
I'm not sure I know enough about Angular and/or prettyCheckable, nor do I have the time, to be of much help.

From looking at the source code, prettyCheckable hides the real checkbox and displays a nicer looking one. When clicked it delegates the call to the real checkbox and calls jQuery `change()` method, which ought to trigger a change event that is picked up by Angular. Why that doesn't happen

[2013-01-09 19:49] pc-dedelhart opened #337 "ui-revert not working in IE8"
Works in ie9, not in ie8

tested on paralllels / ie9 in 8 emulation

[2013-01-09 19:55] ProLoser commented on #337
Do you mean ui-reset? I'm not familiar with a revert directive.

If so, you'll need to give more context. Is the extra HTML generated and the CSS just broken? Or what?

[2013-01-09 22:15] pc-dedelhart commented on #337
Yes - but it is my bad - my link to the ie8 shim was badly formed

[2013-01-09 22:15] #337 closed, assigned to nobody

[2013-01-09 22:19] pc-dedelhart opened #338 "Request: can reset not show the "X" if there is nothing to reset?"
Optionally perhaps, but I'd like to be able to hide the "X" when the content is already "as it would be if you clicked 'X'".

In the normal case this would be, if the model is blank. In the case of a value'd "reset" the x should be visible only if the content != the value of ui-reset.

I realize you can do this with your own ng-css directive etc. but it seems a pretty common use case.

[2013-01-09 22:21] ProLoser commented on #338
Feel free to open a pull request with the change, it should be fairly easy.

[2013-01-09 22:22] pkozlowski-opensource commented on #338
@ProLoser I was just typing exactly the same message :-)

@pc-dedelhart Dave, it is a good directive to start contributing to angular-ui :-)

[2013-01-09 22:32] #248 closed, assigned to nobody

[2013-01-10 04:31] ProLoser commented on #227
Check or this plunker: http://plnkr.co/edit/gist:4464334?p=preview

[2013-01-10 09:10] mickhrmweb commented on #287
I've been experiencing this same issue, and have found a reproduction: http://jsfiddle.net/q3qKE/4/

Edit: I am using Chrome 23 under Xubuntu 12.10, the errors are in the JS console.

[2013-01-10 09:18] petebacondarwin commented on #287
I guess you are talking about this line blowing up?

iterStartElement.parent().trigger("$childrenChanged");

trigger is not a method on jqLite (i.e. it only works on ful jQuery).  I
would say that this is a bit of a pointless bit of code any way and
probably if it going to be used at all should be
$scope.emit('$childrenChanged') anyway.

I recently made a tidied up version of ui-if for a chapter i

[2013-01-10 10:09] alexanderwilms commented on #267
Just tested the plunker mentioned above in Chrome and ui-keypress does not work for arrow keys.

[2013-01-10 10:13] ProLoser commented on #267
@alexanderwilms [Arrow keys do not trigger keypress events](http://stackoverflow.com/questions/5597060/detecting-arrow-keys-in-javascript).

[2013-01-10 17:25] ramandv opened #339 "Directive for Pagination"
A directive for pagination might be useful for many angular-ui users. I have developed some simple plnkr for it. [Code is just functional, yet to be refactored]

[code]

http://plnkr.co/edit/uUggX3O0sB9x7e6Xy97P?p=preview

Any suggestions on this feature?

[2013-01-10 18:05] pkozlowski-opensource commented on #339
@ramandv We've got already a pagination directive in the bootstrap repository. Demo is here:
http://angular-ui.github.com/bootstrap/#/pagination

and the source code:
https://github.com/angular-ui/bootstrap/tree/master/src/pagination

This directive, although in the bootstrap-specific repository, can be fully customized (see its template here: https://github.com/angular-ui/bootstrap/blob/master/te

[2013-01-10 18:05] #339 closed, assigned to nobody

[2013-01-11 21:39] KevinOrtman opened #342 "Error: Cannot find module 'testacular'"
require('testacular'); in grunt.js is generating the following error.
I can repro this in both linux (oel 6) and windows 7.   I have confirmed that testacular is working if I run it in stand-alone (testacular init/testacular server rather than grunt server).
### output

 [kevin]$ grunt
 Loading "grunt.js" tasks and helpers...ERROR
 Error: Cannot find module 'testacular'
 <WARN> Task "default" not

[2013-01-11 21:46] KevinOrtman commented on #342
Verbose output:

Reading "grunt.js" config file...OK
Loading "grunt.js" tasks and helpers...ERROR
Error: Cannot find module 'testacular'
     at Function.Module._resolveFilename (module.js:338:15)
     at Function.Module._load (module.js:280:25)
     at Module.require (module.js:362:17)
     at require (module.js:378:17)
     at Object.<anonymous> (/home/kevin/src/angular-ui/grunt.js:1:80)
     at

[2013-01-11 21:46] pkozlowski-opensource commented on #342
@KevinOrtman did you install testacular as a local npm module?

[2013-01-11 21:47] KevinOrtman commented on #342
Good question.  No, installed globally.

sudo /usr/local/bin/npm install -g testacular coffee-script grunt

[2013-01-11 21:49] ProLoser commented on #342
Run `npm install` too.

[2013-01-11 21:50] pkozlowski-opensource commented on #342
@KevinOrtman yeh, as it stands today you need to install it locally as well as described in https://github.com/angular-ui/angular-ui:

`npm install`

We could eventually to change this to follow the same pattern as in the boostrap repo: https://github.com/angular-ui/bootstrap/blob/master/grunt.js#L172

[2013-01-11 21:51] KevinOrtman commented on #342
_blush_  total RTFM moment there.  Thanks guys!

[2013-01-11 21:51] #342 closed, assigned to nobody

[2013-01-12 10:50] AlanFoster opened #343 "CodeMirror onChange event not fired"
Using CodeMirror 3.0+ with the current version of AngularUi from the build directory doesn't trigger onChange events for some reason.

Because of this the model binding/$apply() doesn't seem to occur when the textArea is changed either.
Has the CodeMirror API changed perhaps?

[2013-01-12 12:41] coffee-tech opened #344 "draggable markers for google map?"
Can someone tell me how to create draggable markers in gmap?

[2013-01-12 12:47] revolunet commented on #344
Google MarkerOptions objects has a `draggable` property, see https://developers.google.com/maps/documentation/javascript/reference?hl=fr#MarkerOptions

Se just add this property when initialising the marker, eg :

[code]

[2013-01-12 12:54] coffee-tech commented on #344
well, the problem is that the dragging event is not handled

[2013-01-12 12:57] revolunet commented on #344
If you look the google docs, there's no dragging event at all : only drag, dragend, dragstart.

[2013-01-12 12:58] coffee-tech commented on #344
I didn't know that. I'll see more. Thanks a lot

[2013-01-12 12:58] #344 closed, assigned to nobody

[2013-01-12 22:22] AlanFoster commented on #343
After checking out CodeMirror 3.0+ examples, I see you now need to bind events like:

[code]

Am I right in saying this? If so, I wonder what the best way to fix this problem is? Either abstracting this change and wiring up the events ourselves or break backwards compatibility and change how these events should be registered.
Or potentially CodeMirror is supposed to support this and it's just a sm

[2013-01-12 22:46] AlanFoster commented on #343
I've investigated this further, and I notice that all of the versions seem to be different for CodeMirror?
The [AngularUi](http://angular-ui.github.com/) site seems to have

[code]

But the [dependencies file](https://github.com/angular-ui/angular-ui/blob/master/modules/directives/codemirror/dependencies.json) seems to point to the newest CodeMirror

[code]

What version is used when running again

[2013-01-12 22:49] ProLoser commented on #343
We _should_ be doing everything against the latest version ideally.

[2013-01-14 03:34] adam77 opened #345 "Anchors no longer dismiss bootstrap modals following upgrade to 1.0.3/0.3.2."
Interestingly, button elements work fine.
(if you point me at an example fiddle with angularui in it, i will attempt to modify it to demonstrate).

[2013-01-14 12:43] cymantic commented on #245
CodeMirror with the latest angular-ui and code mirror v3, still doesn't update when shown in a modal...
work around is for a textarea with id code-mirror, call this function in a $timeout call when showing the modal:

[code]

[2013-01-14 20:53] #345 closed, assigned to nobody

[2013-01-14 20:54] adam77 commented on #345
Tracked the problem down to this:

https://github.com/angular/angular.js/commit/c81d8176cc55cd15acae05259ead73f90a01f0b7

So angular 1.0.3 is the problem not angular-ui, apologies.

[2013-01-14 21:16] pkozlowski-opensource commented on #345
@adam77 yes, this is regression in AngularJS 1.0.3. This commit was already reverted in master, should be fixed in 1.0.4.

[2013-01-14 21:31] ProLoser commented on #324
@shantanuw You'll have to provide a demo of your problem since this isn't officially in AngularUI right now. It also may be more relevant to relocate this discussion to the google group.

[2013-01-14 21:31] shantanuw commented on #324
Did you get it working with the "select" option? I am trying to get this working:
    `<span editable ng-model="team.name" data-source="team/values" data-value="team.name"></span>`
The select shows up but the value shows as "Empty"

[2013-01-14 21:32] shantanuw commented on #324
Sorry could not get the code in the first time

[2013-01-14 21:34] sarbogast commented on #324
I did not test it with the select option because I don't like it anyway. But I spoke with the developer of x-editable and he says he might implement a Select2 integration in a future version: https://github.com/vitalets/x-editable/issues/59

[2013-01-14 22:02] AlanFoster commented on #343
Thanks for your reply @ProLoser!
I looked around a bit more and noticed that the ['build' folder's code](https://github.com/angular-ui/angular-ui/blob/master/build/angular-ui.js#L673) is completely different to the [individual CodeMirror Module's code](https://github.com/angular-ui/angular-ui/blob/master/modules/directives/codemirror/codemirror.js).

I wonder if that's intentional or not, does the

[2013-01-14 22:03] ProLoser commented on #324
I feel like it's a bigger waste of time trying to hack this plugin to work than it would have taken for you to reproduce the plugins functionality from scratch in pure angular as a DSL directive.

[code]

##

Dean Sofer
DeanSofer.com
714.900.2254

On Monday, January 14, 2013 at 1:34 PM, Sebastien Arbogast wrote:

[2013-01-15 00:46] ProLoser opened #348 "Route match directive"
So one directive that I need to write down because it keeps rolling around in my head is a route-matching directive for navigation highlighting.

It would come in handy when people use tabs or need to simply highlight the current page in a navigation bar.

Perhaps something like

[code]

And other such nonsense. It would simply add some sort of 'active' class and we could continue to expand the sy

[2013-01-15 02:18] ProLoser opened #349 "Add uiDateFormat to ui.config"
Should let people do something like:

[code]

[2013-01-15 06:10] tadchristiansen opened #350 "JQuery UI passthrough not working with spinner"
This is supposed to be a question about not being able to get the model to update when I change the JQuery UI spinner. That is what was happening in my app. For whatever reason I am unable to get the spinner to even work in my jsFiddle:  http://jsfiddle.net/tadchristiansen/cZVAt/17/

I am probably missing something obvious, but once that is figured out, I was wondering why the  model doesn't get u

[2013-01-15 06:15] ProLoser commented on #350
We should probably try to keep these sort of bugs on Stack Overflow or the Google Group.

Anyway;

Step 1: include AngularUI as a module dependency
Step 2: make sure you load jQuery BEFORE loading AngularJS
Step 3: ???
Step 4: Profit!

[2013-01-15 06:15] #350 closed, assigned to nobody

[2013-01-15 07:48] petebacondarwin commented on #349
Good idea.

[2013-01-15 07:51] petebacondarwin commented on #348
Nice simple idea.

[2013-01-15 10:23] pkozlowski-opensource commented on #348
Yeh, +1 We could use it for bootstrap as well.

[2013-01-15 10:28] pkozlowski-opensource commented on #350
Actually I did post something along those lines to SO few months back: http://stackoverflow.com/a/12474114/1418796

I don't know if you've noticed but I've also created a tag WIKI for angular-ui: http://stackoverflow.com/tags/angular-ui/info
I'm sure it should be enriched.

Somehow what I like the most is an ability to open an example in a plunker / jsFiddle and this is why I wanted to have it int

[2013-01-15 16:34] murilobr opened #352 "Problem with ng-class and Select2"
There is a problem with Select2 and ng-class, because ng-class is changed just inside select and not on the div created to emulate a select box.

Add to directive uiSelect2 the following code:

scope.$watch(attrs.ngClass, function(newVal, oldVal) {
          elm.prev().addClass(newVal);
          elm.prev().removeClass(oldVal);
        });

I will create a pull request.

[2013-01-15 19:31] saden1 opened #354 "Make Google Maps Responsive"
I would like to put the canvas inside a span4 div and have it fill out the div and be responsive as the window is re-sized. I have tried quite a few things and I'm not even sure if it's possible to make the Google Maps canvas responsive.

[2013-01-15 22:14] ProLoser commented on #354
Why not put `span4` on the canvas? I don't see any reason why you can't set the dimensions explicitly on the map element.

[2013-01-15 22:15] #354 closed, assigned to nobody

[2013-01-15 22:15] ProLoser commented on #354
You will need to supply a demo as it works fine for me.

[2013-01-15 22:58] scottromack commented on #354
You can make the map 100%.
see the simple example.

https://developers.google.com/maps/documentation/javascript/tutorial

[2013-01-16 11:06] pablocaselas opened #355 "Select2 and values other than strings"
Hello,

Select2 directive it's not supporting boolean values as options which I think is quite common.

We fixed this for our project by using parsers and formatters inside the directive like this...

I think at least true or false should be included, and maybe the same for numbers.

<pre>
....
 if (controller) {
        controller.$parsers.push(function(value){
                if("true"===value)

[2013-01-16 17:37] ProLoser commented on #355
What about working with a true or false string and just converting it in
your controller? I don't really agree that boolean values need explicitly
be supported because that is what a check box is for while selects are
about multiple values.

Also, numbers are already supported so theoretically you can do 0 and 1.
On Jan 16, 2013 3:06 AM, "pablocaselas" notifications@github.com wrote:

[2013-01-17 15:26] ni-ka commented on #263
+1 the code from  bvkimball looks good, using it and it works

[2013-01-17 15:43] pablocaselas commented on #355
I agree with you that it should be done with a checkbox but sometimes clients want it that way.

Of course you could do it on the controller, but I believe frameworks and architectures are for those kinds of things. Abstracting the user (developer)  from the implementation of the component. The fact is, angular is already supporting this behavior and I believe angular-ui should too.

[2013-01-17 17:12] philippd commented on #263
+1 i am also using bvkimballs fix and it's working

[2013-01-17 17:23] philjones88 opened #359 "TinyMCE fails to show contents after form saving"
As per title, sometimes in my AngularJS SPA TinyMCE fails to show content, if you refresh the page or revisit the same part of the application it works that time.

It appears to happen after the user has submitted/saved the form and the SPA uses $location to redirect them to the "list", if they click edit again the tiny mce instance is empty but refreshing the whole page shows the proper contents.

[2013-01-17 17:37] ProLoser commented on #355
How do you do it in angular?
On Jan 17, 2013 7:43 AM, "pablocaselas" notifications@github.com wrote:

[2013-01-17 17:38] ProLoser commented on #355
Or are you referring to the parsers.

Anyway, open a pull request.
On Jan 17, 2013 9:36 AM, "Dean Sofer" deansofer@gmail.com wrote:

[2013-01-17 17:41] pablocaselas commented on #355
In angular it could be done like this...

http://plnkr.co/edit/q98eerF4VCS600MAtm3o?p=preview

[2013-01-17 17:43] ProLoser commented on #359
So you are saying it fails to load on Route change from within an ngView?
On Jan 17, 2013 9:23 AM, "philjones88" notifications@github.com wrote:

[2013-01-17 17:47] philjones88 commented on #359
Yes, but only after saving the form

[2013-01-17 18:21] ProLoser commented on #359
Can you create a fiddle or plunker that reproduces this problem?

##

Dean Sofer
DeanSofer.com
714.900.2254

On Thursday, January 17, 2013 at 9:47 AM, philjones88 wrote:

[2013-01-17 22:42] joshkurz commented on #359
I have seen this too. It's caused by the tinymce code not being loaded fully by the time the directive is fired. It's kinda spastic.

Sent from my iPhone

On Jan 17, 2013, at 1:21 PM, Dean Sofer notifications@github.com wrote:

[2013-01-18 00:29] cmawhorter commented on #319
Another possible solution is to wrap the jquery function:

[code]

I think it'd be nice to have something like the following so that we can get this when we need it:

[code]

Just started using angular, so I might be way off here.

[2013-01-18 00:32] ProLoser commented on #319
Actually I have this in a PR waiting to be merged soon.

You just gave me a different thought though. I was going to do `ui-jq="plugin" ui-defer` but maybe we should do it your way with `ui-jq-defer="plugin"` instead?

[2013-01-18 01:03] devesh commented on #355
When you make a fix, please make sure it supports Numbers too. I have a large list of options with numerical ids that I want the user to select from. AngularJS supports this with ngOptions, but I'd like to use Select2 to provide a nicer filtering UI.

Edit: I just saw @ProLoser said that numbers are already supported. I can't find the documentation for this. Can you point me in the right direction

[2013-01-18 01:03] shaungrady opened #360 "ui-mask returns null object instead of empty string"
When an HTML INPUT element is empty, the value is an empty string. It seems to me that, when the mask is invalid, it should return an empty string instead of the null object—it doesn't make sense to be putting a JS object into the model when that field was certainly intended to be a string.

[2013-01-18 01:11] shaungrady opened #361 "ui-mask returns value without punctuation. Please make optional."
It makes sense for uiMask to strip the mask pattern from the field value in cases like phone numbers. However, in the case of dates, where the model might already have a specific formatting such as "MM-DD-YYYY", having uiMask strip the mask punctuation creates a bit of a headache.

It would be nice if there were a configuration option to leave the mask punctuation intact when updating the model.

[2013-01-18 01:36] cj commented on #103
@dandoyon I've included the ieshiv and directives using "E" still do not work.

[2013-01-18 01:38] ProLoser commented on #103
Are you including the shiv in the `<head>` and NOT asynchronously?

[2013-01-18 01:40] cj commented on #103
Correct, I'm including it in the head:

[code]

[2013-01-18 01:41] ProLoser opened #362 "Refactor uiCurrency to use toggleClass() instead of addClass and removeClass()"
Just for the sake of efficiency. I noticed this while looking at the code.

`toggleClass()` takes a second (optional) boolean parameter that specifies if the class should be added or removed. This would remove the need for the verbose if-statements.

[2013-01-18 08:58] petebacondarwin commented on #360
This is not strictly true.  If you look at an input with a required
validator on it, then when the value is empty, the model is set to
undefined.
http://plnkr.co/edit/dksfq8T0zKYLcJTa7oPY?p=preview

On 18 January 2013 01:03, Shaun Grady notifications@github.com wrote:

[2013-01-18 08:59] petebacondarwin commented on #361
Yes, that is a good point.  The mask widget needs a thorough overhaul.
 Fancy having a go?

On 18 January 2013 01:12, Shaun Grady notifications@github.com wrote:

[2013-01-18 16:44] dandoyon commented on #103
To my knowledge ( I will verify this weekend ) nothing has changed with ui-currency in a long time. If tests ran with IE before they should still work.

I do want to point out that I have encountered an anomalous situation that I haven't had time to look into and that is ui-currency not working at all. I'm suspicious that it has to do with bootstrap.js.

Hopefully this weekend I can do some huntin

[2013-01-18 16:45] dandoyon commented on #362
worthy optimization
On Jan 17, 2013, at 5:41 PM, Dean Sofer wrote:

[2013-01-18 16:52] joshkurz commented on #362
I like to call it the big O. Optimization is always worthy. Ill take this
one.

On Fri, Jan 18, 2013 at 11:45 AM, Dan Doyon notifications@github.comwrote:

##

_Josh Kurz_
http://dillingermediaonline.com/wordpresshttp://dillingermediaonline.com

[2013-01-18 21:40] moperacz opened #363 "new directive proposal Highcharts"
For my current project I needed nice looking charts... I was unable to find something tailored for my needs which uses angular... So I wrote some for my own needs...

You can check it on: http://embed.plnkr.co/gahfIWNEfCd8yEXBdFtZ/preview

If you like it give some feedback... So i write some tests, fix some obvious issues and create pull request :smile:

Currently it only supports datetime format,

[2013-01-18 21:54] ProLoser commented on #363
Have you thought about using ngModel instead of chartData?

Will the chart change accordingly if I directly modify chartData via angular (instead of doing it through highchart)?

Why do you have to do `highchart: default: {}`? Is this how Highchart expects you to define defaults? Otherwise, anything inside of ui.config is already assumed to be defaults so adding an extra level doesn't help.

You a

[2013-01-18 22:05] moperacz commented on #363
wow.. speedy answer :wink:
1. i thought about ngModel... don't remember why didn't use it... probably forgot about existence of ngModel... i don't see any problem with using ngModel for that
2. yes it will change... as in example provided... i modify data thru angular..
3. i have some plans about using other settings just for directive, `highchart: default: {}` is merged and passed to Highcharts.j

[2013-01-18 22:10] ProLoser commented on #363
What do you mean shift or not to shift? What is the directive doing differently from normal?

[2013-01-18 22:19] moperacz commented on #363
it was example... highcharts are very feature rich...

as for "to shift or not to shift":
when you are adding data to existing chart you are using addPoint function, witch takes three arguments
1. data to add
2. redraw chart immediately
3. shift chart(drop old data) or squeeze it (show old data and new)

and 3-rd parameter should be configurable in universal directive (i think)...

there are lots

[2013-01-18 22:27] ProLoser opened #364 "Checkbox List"
Is there any interest in a directive that turns a series of checkboxes into an array?

You would specify a value (string?) for the checkbox and multiple checkboxes would be assigned the same model.

The question then becomes do we simply push checked boxes onto the end of the array or should we try to preserve some sort of order? (I am leaning towards the former).

[2013-01-18 22:28] ProLoser commented on #364
This guy (albeit awkwardly) accomplished something like this: https://github.com/lmc-eu/ngx-library/blob/master/src/modules/ui/checkboxlist/checkboxlist.js

I have been toying with the idea for a while now but originally decided it raises more questions / issues than solutions.

[2013-01-18 23:21] shaungrady commented on #360
Would not the required validator take precedent and modify the empty string returned by uiMask to undefined?

[2013-01-19 01:00] cmawhorter commented on #319
Personally, I like ui-jq-defer just so there is no question about the intent.

[2013-01-19 07:32] petebacondarwin commented on #360
Not necessarily but the point is that the convention with radiators is if
the value is not valid then don't pass it along.

Pete
...from my mobile.
On Jan 18, 2013 11:21 PM, "Shaun Grady" notifications@github.com wrote:

[2013-01-19 11:04] fredrikholmen commented on #287
What is the full version of jquery? I'm using ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js and get the error. What jquery library should I be using? Great if you add you can update the angular-ui library and thanks for a great extension.

[2013-01-19 14:42] petebacondarwin commented on #287
Have a look at the this PR https://github.com/angular-ui/angular-ui/pull/365.
 See if this works better for you.

On 19 January 2013 11:04, fredrikholmen notifications@github.com wrote:

[2013-01-20 08:28] fredrikholmen commented on #287
Thank you. That seems to work much better. No more exceptions.

//F

---

Fredrik Holmén
CTO & Co-Founder

Keybroker, Jakobsbergsgatan 16, 111 44 Stockholm, Sweden
Mobile +46 734 332 501 | Main +46 8 5100 5700
fredrik.holmen@keybroker.com | keybroker.com

Keybroker:  Consistently driving more profitable online sales - Try us.

On 19 jan 2013, at 15:42, Pete Bacon Darwin notifications@github.com wr

[2013-01-21 02:34] ProLoser opened #366 "Calendar directive options are undefined"
If you do `<div ui-calendar="{someOption: someVariable}">` and `someVariable` is defined on the parent scope, it is `undefined` on the calendar scope.

This is because the calendar is an isolated scope, but only the `ngModel` property was ported from the parent scope.

Need to add `options: 'uiCalendar='` (or whatever the 1-way version is) to the scope definition.

Example: http://plnkr.co/edit/rl

[2013-01-21 02:49] oevna opened #367 "Calendar directive hard-codes eventMouseover callback"
As specified here: http://arshaw.com/fullcalendar/docs/mouse/eventMouseover/

Should be configurable via uiCalendar or uiConfig.uiCalendar objects instead.

[2013-01-21 11:46] sarbogast opened #368 "Customizing ui-date to do something a little out of the ordinary"
I have a link in my UI. When the user clicks that link, I would like a calendar to appear beneath the link, and when he selects a date, the calendar should disappear and a controller function should be called to do something with the date the user selected. Here is what I've tried so far:

[code]

[code]

The displaying a calendar part works, but when the user selects a date, nothing happens, my c

[2013-01-21 11:53] petebacondarwin commented on #368
Can you debug into the line in the date directive that handles the onSelect and see what is happening?
https://github.com/angular-ui/angular-ui/blob/master/modules/directives/date/date.js#L40

[2013-01-21 13:20] joshkurz commented on #366
I dont think it needs a scope definition at all.
Here is a version that I plan on committing soon. http://jsfiddle.net/joshkurz/Ljq26/1/ No isolated scope and uses ui-config for all extendable actions/options. I think the only thing it needs is a way to overwrite the default header,left,center,right options and it will be 100% extendable.

[2013-01-21 13:22] joshkurz commented on #367
You are correct sir. This calendar will fix the issue. It is set for the 0.4.0 release.  http://jsfiddle.net/joshkurz/Ljq26/1/

[2013-01-21 15:31] sarbogast commented on #368
First of all, I don't know if it's connected, but I'm getting a javascript error when the page is loaded:

[code]

And I've set up a breakpoint on the line you pointed to but execution never gets there. Plus, I don't have the same code as the one in the repository. My code looks like the following:

[code]

Note that I am using the latest stable release, version 0.3.2.

[2013-01-21 17:03] ProLoser commented on #367
Do you have a pull request open already?
On Jan 21, 2013 5:22 AM, "Josh Kurz" notifications@github.com wrote:

[2013-01-21 17:51] joshkurz commented on #367
No not at the moment.

[2013-01-21 18:33] ProLoser commented on #367
Pull request baby, even if it isn't finished.

[2013-01-21 18:33] hookercookerman commented on #135
yep I am doing quite a complex select2 tags with ajax blar blar; initialising problem; and not easy to create a plunker for

short story

I have input with value "beans,eggs" aka 2 tags

has anyone got tags working in terms of intialization and then sending correct params ie not a random  [object Object] attached to the values; its something todo with the ng-model and initSelection but I cannot de

[2013-01-21 18:38] ProLoser commented on #135
@hookercookerman does #309 fix your problem?

[2013-01-21 18:46] hookercookerman commented on #135
just applied; na still adding objects to form value;  I can see just one tag and there is only one tag; however

$(#theinput).val()

"[object Object],Ruby"

[2013-01-21 18:49] ProLoser commented on #135
What? I'm confused, perhaps you should paste some code. If you're manually triggering jQuery you're doing it wrong.

I think this needs to be folded into #309 as I mentioned which will contain a lot of fixes for this behavior when I merge it in (need modifications).

[2013-01-21 18:58] hookercookerman commented on #135
thanks for replys;  sorry coffeescript thats how I role

this what I have currently all working besides objects are getting pumped into the value hence when I submit ["object Object] string being sent as well

[code]

[2013-01-21 19:01] joshkurz commented on #367
ok I wIll send one tonight.

[2013-01-21 19:11] joshkurz commented on #363
This is nice. If you could open up a PR for this that would be great. I was just about to start working with high charts for our current site. Great Timing. :+1:

[2013-01-21 20:50] petebacondarwin commented on #368
Can you try using the latest on the master branch?  There have been some
fixes to date recently.

On 21 January 2013 15:31, Sebastien Arbogast notifications@github.comwrote:

[2013-01-21 21:10] sarbogast commented on #368
OK. I tried with the latest version from the master branch, re-built everything to get the latest version of angular-ui.js and now I have the same code as you but the result is still the same: execution never reaches my breakpoint. onSelect is never called.

[2013-01-21 21:17] petebacondarwin commented on #368
Can you provide a plnkr to demo this issue?

[2013-01-21 22:54] sarbogast commented on #368
I'm still a noob with Plunker but I've tried to set up one here: http://plnkr.co/edit/fXn2DMiH39VeVSnmB17K
But this time I haven't even managed to get the calendar to be displayed when I click the button.

[2013-01-22 00:19] surjikal commented on #319
Would `setTimeout` be called only once? If so, I'm not sure if the solution you guys are proposing would cover my particular use case. Basically, I've got a unordered list that is populated by selecting a model from another list. So here, I think you would need to call `setTimeout` when the selected model is changed, right?

[2013-01-22 00:34] ProLoser commented on #319
You are talking about 2 different issues.

The PR contains ui-defer and ui-refresh. The refresh takes an expression to watch and re-initialize the plugin on (this may not help everyone). The defer simply says that in order to initialize, you must do so in a setTimeout.

I prefer ui-jq-defer except for 1 problem: I'd have to make a new directive with all the same code.
Now this isn't impossible, it

[2013-01-22 00:42] surjikal commented on #319
Can you link the PR here, please? I'd like to take a look at it! Sounds like the combination of `ui-defer` and `ui-refresh` is what I need.

EDIT: Nevermind, found it! https://github.com/angular-ui/angular-ui/pull/347

[2013-01-22 00:49] ProLoser commented on #319
If you guys want to help me FINALLY merge it in please try to figure out why some of the unit tests won't pass.

[2013-01-22 01:40] ProLoser commented on #319
Merged! Next release will have this in the lib. Or you can pull the latest and build locally!

[2013-01-22 07:55] ProLoser commented on #348
Does this just toggle a class or do we do more with it?

[2013-01-22 08:00] capaj commented on #348
Right now I am just using ng-switch on $routeParams, so yeah, this would be definately helpful.

[2013-01-22 08:13] ProLoser commented on #348
Okay so you want more than just a simple class being toggled?

@capaj What does your switch look like? I don't know how this is directly related

Maybe it should be a rootscope method for the most flexibility?

`ng-class=" { active : match( '/someRoute' ) } "`

[2013-01-22 10:05] joshkurz opened #375 "Calendar Testing Focus Bug"
Why does the client window have to be focused on during testing because of ui-calendar?

[2013-01-22 10:14] petebacondarwin commented on #375
It is actually something funny with Chrome.  If the tests are running in a
tab that is not at the front of the tab list then it can hang tests that
interact with the DOM in certain ways.  The easiest solution is to always
have your test browser open in a window on its own without any other tabs.

On 22 January 2013 10:05, Josh Kurz notifications@github.com wrote:

[2013-01-22 10:17] capaj opened #376 "Endless recursion on angularjs:5582 after user triggers an ui-keypress event happening only in Chrome"
I have a callstack and the error here:  [screenshot](http://snag.gy/K0ibY.jpg).
It happens when I display a dialog(angular-ui-bootstrap-dialog) and after it I hit the key specified on an element with ui-keypress directive.
This is first stack overflow, after it, the second always happens. Could this be a bug caused by angular-ui?
Funny thing is, that it is happening only on google chrome Canary, n

[2013-01-22 17:03] ProLoser commented on #376
The screen shot isn't really useful. Can you create a fiddle?

[2013-01-22 17:17] moperacz commented on #363
Ok, so I will change some things (as for @ProLoser comments + some obvious fixes + basic tests) and open PR...
I work on it tomorrow evening..

Do you have any proposal as for directive params name, or other features that should be included first?

[2013-01-22 20:04] joshkurz commented on #375
Just confirmed this. Thanks @petebacondarwin

[2013-01-22 20:04] #375 closed, assigned to joshkurz

[2013-01-22 20:50] joshkurz commented on #363
As long as we can change the data live from angular (which you already have
done) and hook any api callback event to the scope I believe that we will
be ok. I can also see that there are some hardcoded values in _chartConfig.
these should be squashed. There is also allot of logic inside of the watch
function. Maybe we should pass in a function through the config that gets
triggered while watching

[2013-01-22 21:47] munsellj commented on #274
Same here, if I have Batarang Enabled in Chrome Extensions I get this error even with 0.3.2 unless I add an ng-multiple attribute to my <select> tag.  Even ng-multiple="" or ng-multiple="false" will seem to resolve the error and allow Select2 to work properly.

Note on disabling Batarang: I have to fully disable it by unchecking "Enable" on the Chrome Extensions settings page to fix the issue.  Un

[2013-01-22 21:52] ProLoser commented on #274
Not sure how to fix this yet

[2013-01-22 21:57] ProLoser opened #377 "Add a 'view' property to ui-calendar so that people can easily switch views"
@joshkurz can you take a look at this?

Someone asked me on IRC how to switch views programmatically with fullCalendar.

The documentation says that you must do `fullCalendar('changeView', viewName)`.

At this time, there is no intuitive way to call alternative methods on DOM elements, but looking at the fullCalendar documentation, there are very few _methods_ so it might be acceptable to support

[2013-01-22 22:02] ivangarcia2 commented on #274
Why don't you use my solution? Is working fine for me. I'm sorry but I don't know how to make a pull request, but it as simple as check when the ng-multiple attribute is present or not:

  if (attrs.ngMultiple){
          scope.$watch(attrs.ngMultiple, function(newVal) {
            elm.select2(opts);
          });
  }

[2013-01-22 22:06] ProLoser commented on #274
If you look at my commit when I closed the bug, your code is already merged in. So either this didn't fix the problem or people are using the wrong version.

##

Dean Sofer
DeanSofer.com
714.900.2254

On Tuesday, January 22, 2013 at 2:02 PM, ivangarcia2 wrote:

[2013-01-22 22:06] ProLoser commented on #274
https://github.com/angular-ui/angular-ui/blob/master/modules/directives/select2/select2.js#L98-L102

##

Dean Sofer
DeanSofer.com
714.900.2254

On Tuesday, January 22, 2013 at 2:03 PM, Dean Sofer wrote:

[2013-01-23 05:02] joshkurz commented on #377
Dean I think that is a good idea. It got me thinking why we don't expose the calendar object to the scope to call methods off of it. This way we will not need to wrap any function calls. Here is an example of all custom view switching buttons. http://jsfiddle.net/joshkurz/Ljq26/9/

should the ui-trigger method set a scope object = to the return of the generic plugin? this would enable any specific

[2013-01-23 07:08] ProLoser commented on #377
The ui-trigger is a side thought, for now though I think you're better off just adding a view attribute.

##

Dean Sofer
DeanSofer.com
714.900.2254

On Tuesday, January 22, 2013 at 9:02 PM, Josh Kurz wrote:

[2013-01-23 18:07] joshkurz commented on #377
I would say that adding a view attribute would con-volute the directive. We can just expose the calendar element returned by the fullCalendar method giving access to any method desired. There will be more cases where people would like access to methods the fullcalendar offers like 'addEventSource' or 'removeEventSource'.  These methods should be exposed to the scope, so that the developer has full

[2013-01-23 18:40] cmawhorter commented on #319
Glad to see that!  And btw; re. unsexiness.  You could just create:

[code]

<3 js

[2013-01-23 19:14] ProLoser commented on #319
That's an interesting workaround @cmawhorter. I will keep it in mind for the future.

[2013-01-23 19:37] scottromack commented on #319
Please post a working example when available. angular + isotope would be very useful!

[2013-01-23 20:40] ProLoser commented on #319
I started to put a demo together and found a bug I thought I had fixed. That's what I got for not having comprehensive unit tests.

[2013-01-24 02:45] oevna opened #380 "Calendar directive events not affected by array assignment"
See: http://jsfiddle.net/eHnHC/2/

Note that by clicking a day, the event should disappear from the calendar.

If you replace line 12 in the JavaScript pane with:

$scope.events.length = 0;

This results in the calendar being cleared when a day is clicked. So at the moment, only Array.push seems to cause the calendar to be updated. I.e. you can't reassign a completely new set of events via [ { /_.

[2013-01-24 03:20] shaungrady commented on #361
I'm in the process of writing a simpler, more robust jQuery input masking plugin.
I've only had a couple weeks of experience with Angular, but I can give that a shot after I've completed the new masking plugin. It looks straightforward enough.

[2013-01-24 05:54] joshkurz commented on #380
That is because that version of the calendar is not watching the
events.length because the events have not been inserted into the calendars
options. Ng-model should be required to solve this issue. Here is a link
with your specific issue solved. http://jsfiddle.net/eHnHC/25/ That version
of the calendar is a little outdated, I would suggest using this one.
http://plnkr.co/edit/PZOcOt?p=preview

Th

[2013-01-24 08:28] surjikal commented on #319
You're fired.

[2013-01-24 08:45] ProLoser commented on #319
Seriously. Now I'm stuck trying to get the damn unit tests working again

[2013-01-24 19:32] oevna commented on #380
Any idea when these plnkr version changes will be merged into angular-ui?

[2013-01-24 20:41] sudhakar commented on #348
Currently I am using something like,

[code]

with bs markup

[code]

Problems that I am facing with this approach
1. If i have a path like '/pages/:pageid/details' & '/pages/:pageid/campaigns', then something like ng-class="'getClass(/pages/{{page.id}}/details)'" doesnt seem to work.
2. Too noisy as I have to specify route both in li tag and in ng-href

So I propose something like

[code]

Defaul

[2013-01-24 20:49] munsellj commented on #274
@ProLoser I think I know what happened.  You did indeed merge that fix but it looks like the /build directory wasn't updated for the v0.3.2 release because while /modules/directives/select2/select2.js source file includes the fix, /build/angular-ui.js doesn't.  I'm guessing maybe something went wrong with the build before releasing v0.3.2(or someone forget to do it).

I cloned master and built loc

[2013-01-24 21:48] ProLoser commented on #274
I'm aware that the build was not updated, I'm trying to get a bunch of PRs merged before releasing a new build. Good to know it has the fix. Just keep an eye out for v0.4.0, and sorry it's taking so long!

[2013-01-24 21:48] #274 closed, assigned to nobody

[2013-01-24 21:57] ProLoser commented on #348
I think there is too much disconnect between the href or ng-href property and the current DOM element to make that sort of assumption.

I will agree with you that it's tediously verbose to have to declare the route twice, but unlike client-side frameworks I don't know of any better solution.

I also think that if we do a $scope function, it should simply return a boolean, but I like your idea of u

[2013-01-24 22:54] sudhakar commented on #348
Even I wasnt fully convinced about traversing child elements as risk of breakage is very high :(

How about something like

[code]

where ui-route takes an expression
- if the expression is just a string, then we check for match & update $routeActive boolean
- if it is an assignment expression, then that variable can be added to the child scope with the url path

I think angular already does this

[2013-01-24 23:04] ProLoser commented on #348
Actually my version of ui-route handles observance AND does regex.

So you can do:

`thisPath = '/pages'`
…

[code]

Or you can do:

`<li ng-repeat="tab in tabs" ui-route="/{{tab}}/[0-1]*">`

[2013-01-24 23:24] oevna commented on #380
In your updated version at the plnkr link, doing this still doesn't work:

$scope.events = [{id: 999, title: 'RESERVED', start: new Date(y, m, d + 1, 19, 0), end: new Date(y, m, d + 1, 22, 30), allDay: false }];

Only this works:

$scope.events.push({id: 999, title: 'RESERVED', start: new Date(y, m, d + 1, 19, 0), end: new Date(y, m, d + 1, 22, 30), allDay: false });

And that is assuming:

eventS

[2013-01-24 23:34] ProLoser commented on #348
I pushed some modifications in accordance with the new approach, but once again I'm having difficulty getting tests to pass.

[2013-01-25 00:19] sudhakar commented on #348
Small note..
- uiConfig is not used and can be removed
- on line 22, shouldnt it be new RegExp('^' + newVal + '$', ["i"]);

[2013-01-25 00:53] sudhakar commented on #348
Also I am **not** able to assign the expresssion to local var `ui-route="thisPath='/pages'"`

do we need to parse & apply ??

[2013-01-25 00:58] sudhakar commented on #348
[code]

This works, but its bit ugly. Is there a better way to parse this expression `ui-route="thisPath='/pages'"` ?

[2013-01-25 00:58] ProLoser commented on #348
Changed. Still have failing tests :/

[2013-01-25 01:02] ProLoser commented on #348
No I'm not coding it the way you originally suggested. It's not a good use-case. You should not be doing an expression or executing anything. It should be read-only properties. If you MUST assign something inline like that use `ng-init` instead. Although for the same reason you should avoid ng-init, you shouldn't really assign value in the view too much.

[2013-01-25 01:03] ProLoser commented on #348
Although if you MUST do the same thing, nothing stops you from doing `ui-route="{{thisPath='/pages'}}"`

[2013-01-25 01:13] sudhakar commented on #348
Yep..examples in the docs http://docs.angularjs.org/api/ng.directive:ngClick spoiled me :)

ui-route="{{thisPath='/pages/{{id}}'}}

will this work. If not, is there any other way tat I can assign the value to a scope var?
hmm..i need to experment a bit on this.

[2013-01-25 01:16] shaungrady commented on #361
I'd love to have another set of eyes look at this new jQuery Input Mask plugin I wrote:
https://github.com/shaungrady/jquery-mask-input

The patched uiMask code to utilize it looks like this, pretty simple, though there isn't yet an option to specify whether to use the masked or unmasked value for the model.

[code]

[2013-01-25 02:02] joshkurz commented on #380
oevna looking into your plunker you bring up some good issues.
1. scope.events = [] does nothing because the directive is watching the
   length. I understand that this does change the length of the array and
   should rerender, but atm I dont know why its not either. The watch is not
   being fired I know that much, but why? The length is changing so it really
   makes no sense that its not firin

[2013-01-25 03:03] oevna commented on #380
Not having an $scope variable watched by Angular removes some of the magic of Angular, IMO. But I definitely think exposing calendar to scope (or even just $scope.fullCalendar or $scope.calendar versus $scope.calendar.fullCalendar) is a very useful thing.

[2013-01-25 03:12] ProLoser commented on #348
you have to remind yourself that everything in between {{}} is just javascript.

`ui-route="{{thisPath='/pages/'+id}}`

[2013-01-25 03:13] ProLoser commented on #348
ng-click is different. This is an interaction that you are triggering, so setting a value makes sense here. But ui-route is not an event that is triggered or some interaction. It is merely a way to render the view, so it is read-only.

[2013-01-25 03:45] joshkurz commented on #380
events is watched, but the length is watched instead of the actual
array itself. This is because it is good practice to watch tiny
incremental changes versus large obects inside of an array. What if the
calendar had 10000 events. First off I would not suggest having all of
these in the scope at once, but even still watching the length of the array
is much lighter on the ui then having to watch the

[2013-01-25 03:45] sudhakar commented on #348
Yep makes sense. My initial usecase was specific to BS markup, where we have 'active' class is set on li corresponding to href on child link. Good to know that ui-route="{{thisPath='/pages/'+id}} works.

[2013-01-25 19:04] ProLoser opened #382 "Directive Aliases"
### This is an idea for a new feature.

Lets say that EVERYONE prefixes their libs properly instead of imposing a global DSL:
- bs-tooltip
- bs-tabs
- ui-reset
- ph-txt

Now, lets say that I want to create a DSL but I don't want to re-define all these directives.

What if you could _alias_ and _stack_ these directives together? (say upon module.config or adding a third-party lib as a dependency)

[2013-01-25 20:16] chrisjaure opened #383 "Date.prototype.toISOString not supported in IE8 and below"
There's a call to Date.prototype.toISOString in the date directive that breaks in IE8 and below: https://github.com/angular-ui/angular-ui/blob/master/modules/directives/date/date.js#L90

This should either be replaced with a comparable function or a polyfill should be provided.

You can find a polyfill here: https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Date/toISOStr

[2013-01-26 00:57] sudhakar commented on #382
:+1: for the idea, but  i am curious, about the implementation part.
When directives are aliased,
1. What should be the priority of the aliased directive?
2. Is it allowed to overshadow existing directive like `input` or `ui-if`
3. Are we going to make it templatable, something like `<text-input>` expandable to full glory of BS markup
4. If we are going to alias, lets say `ui-reset`& `xy-field`, b

[2013-01-26 01:06] ProLoser commented on #382
1. It actually doesn't need to deal with petty things like 'priority' because directives already tackle priority for us :) lol.
2. "overshadow"? What do you mean? Anything you define inline will be transcluded (classes, properties, more directives, contents, etc)
3. Actually, this sort of steps on the toes of our `ui-input` idea which is specifically for what you describe. In fact, maybe I should

[2013-01-26 01:37] sudhakar commented on #382
Ohh, I should have explained little better. By priority, i ment the priority of the directive. Let's say someone creates an alias as `form`, then should it be allowed to overshadow the default form directive or should an error be thrown?

I guess, it should be fine to override, if there is a name conflict.

For 4, I ment allowing the user to specify the attrs as params in the config object.  Then

[2013-01-26 09:54] petebacondarwin commented on #382
Right now, if there are two directives with the same name they will both be
run by the compiler, in the order defined by their priority.  So you can
already add a new "form" directive if you want that will run alongside the
core ng directive.

On 26 January 2013 01:37, sudhakar notifications@github.com wrote:

[2013-01-27 15:55] petebacondarwin commented on #383
I kind of agree with Dean here.  If you are going to support IE8 then you
are going to need a shim in there anyway.  If not then we shouldn't burden
people by bundling it in to our library.
Pete

On 25 January 2013 20:20, Dean Sofer notifications@github.com wrote:

[2013-01-27 16:02] chrisjaure commented on #383
At the very least, could you document browser support? Especially if it's not the same as angularjs.

[2013-01-27 16:06] petebacondarwin commented on #383
Fair enough!  Will do.

On 27 January 2013 16:02, Chris Jaure notifications@github.com wrote:

[2013-01-28 16:38] tiagoroldao commented on #315
Angular UI 3.2 + Angular 1.0.4 seems to solve this issue. I have been ignoring it while working on other aspects of my project (seeing as I wasn't able to do anything about it), postponing solving it, and just realized it to be solved.

(working with Select2 - 3.2)

[2013-01-28 18:21] ProLoser commented on #315
@gduquesnay can you confirm?

[2013-01-28 18:42] mmosteller opened #384 "Tab headers showing variable name."
When I first load up a server and go to my page with tabs it works perfectly. However, when I reload the page it starts showing {{tab.title}} as the tab's header text. Code:

[code]

For the controller I have:

[code]

Any help will be appreciated, thanks!

[2013-01-28 18:50] pkozlowski-opensource commented on #384
@mmosteller I guess you wanted to open an issue in this repo: https://github.com/angular-ui/bootstrap

Looking at your description it is not clear what might be going wrong. Could you prepare a plunker with a live scenario to reproduce? You can start with this one: http://plnkr.co/edit/KAYnvV?p=preview

[2013-01-28 20:08] ProLoser commented on #315
@joseym if you have some time can you take @gduquesnay's fiddle and confirm that the changes mentioned by @tiagoroldao fixes it so we can close this bug?

[2013-01-28 20:51] joseym commented on #315
On it.

[2013-01-28 20:55] pkozlowski-opensource commented on #384
@mmosteller played with the code you've attached to the issue report and I really can't seem to reproduce this... Here is the plunker I've used: http://plnkr.co/edit/KAYnvV?p=preview

I'm sure that there is something going on in the code you've got but we can't fix things we can't reproduce...
Going to close this issue for now, please open another one in the https://github.com/angular-ui/bootstrap

[2013-01-28 20:55] #384 closed, assigned to nobody

[2013-01-28 22:43] JakobJingleheimer opened #385 "ui-if isn't removing/adding elements in the DOM"
I have encased a div within a `ui-if`, and the child is not displayed, however it still exists in the DOM: http://plnkr.co/edit/t2Nq57

The areas in the plunkr that concern this issue are in the `GoogleMaps` controller in `controllers.js` and the child of body's 2nd child:

[code]

And subsequently, directives from elements within the `ui-if` run before `mapReady` is true, which causes errors.

[2013-01-28 23:10] ProLoser commented on #385
I am unable to test the case you describe. The ui-if is true when the page loads. Is there somewhere I should place a breakpoint?

[2013-01-28 23:59] joseym commented on #315
@ProLoser, @tiagoraldao suggestion doesn't seem to effect the $digest error: http://jsfiddle.net/joseym/FvVvF/

`angular 1.0.4` using `angular-ui 0.3.2`.

isn't 1.1.1 stable?

[2013-01-29 00:09] JakobJingleheimer commented on #385
Hmm, on line 13 of controllers.js I set `$scope.mapReady = false`, so it should start out false. I re-arranged some divs to make it more obvious, and now it started working. It might have been caused by putting `ui-if` in the same div that specified the controller from which its condition is defined (causing the condition to be in a different scope)?

[2013-01-29 00:11] ProLoser commented on #385
Oh yeah, keep in mind ui-if is terminal and high priority, so there are 0 gaurentees about other directives on the same DOM element. You're just safe isolating it from complex directives (simple directives like ng-class, etc, won't be affected). Feel free to close this if that was the only problem.

[2013-01-29 00:14] ProLoser commented on #315
You guys really shouldn't be trying to debug stuff with minified versions.

Does the v0.4.0 select2 code fix his issue?

[2013-01-29 00:33] #383 closed, assigned to petebacondarwin

[2013-01-29 00:42] ProLoser commented on #348
Done, just need to add a docblock and demo:

### Here's basically how it works:
1. Put `ui-route` where you want to do something depending on what the current route is (such as setting an active class on a nav link or hiding something)
2. Declare a route-match pattern
3. [optional] Specify an ng-model to store the boolean into, otherwise it will store the boolean into $uiRoute
4. Use this boolean

[2013-01-29 00:57] JakobJingleheimer commented on #385
I expect `ui-if` to cause the execution directives of child elements to be delayed until `ui-if`'s condition is met (and its children are returned to the DOM); is that not how this should function? (if not, then that answers my issue)

[2013-01-29 00:58] joseym commented on #315
I also tried with unmini - looking into 0.4.0 now, where can I find/build that?

[2013-01-29 00:58] ProLoser commented on #385
Your original code paste was incomplete. Did you put NG- controller on the
same element as ui-If?
On Jan 28, 2013 4:57 PM, "jshado1" notifications@github.com wrote:

[2013-01-29 01:10] JakobJingleheimer commented on #385
Oh sorry I updated the plunker:

[code]

[2013-01-29 02:01] JakobJingleheimer commented on #385
btw I'm seeing a TypeError bubble up from the `$scope.$watch` in the `uiIf` directive:

`TypeError: Object [object Object] has no method 'trigger'` `angular.js 5582`
originating from `ui-if.js 36`

[2013-01-29 02:37] tiagoroldao commented on #315
It does work - see this fiddle: http://jsfiddle.net/cGTdh/1/
I only changed the select2 source (noticed it was a pre-build source), and it all fell into place. I also changed the jQuery version, but upon retesting, it has no effect.
I don't believe the original error to be due to using an unbuilt version, though (as I said, I've been having the same problem, with the _right_ build, up until using

[2013-01-29 08:34] petebacondarwin commented on #385
Have you tried the latest version of ui-if?

https://github.com/angular-ui/angular-ui/blob/master/modules/directives/if/if.js

http://plnkr.co/edit/gxnCNd?p=preview

[2013-01-29 15:52] joseym commented on #315
well ... there you have it! Thanks @tiagoroldao.

[2013-01-29 15:54] #315 closed, assigned to joseym

[2013-01-29 17:47] JakobJingleheimer commented on #385
Oh! that would be it. About a week ago I downloaded v0.3.2 from https://github.com/angular-ui/angular-ui/tags so I didn't think to check for an update.

Thanks! (and sorry for inquiring about an issue that was already fixed)

[2013-01-29 17:47] #385 closed, assigned to nobody

[2013-01-29 20:12] JakobJingleheimer opened #386 "uiMap TypeError: Object [[object HTMLDivElement]] has no method 'trigger'"
I'm receiving a TypeError within the uiMap directive on line 12. (Chrome on Windows reports `Object [[object HTMLDivElement]]` but Chrome on OSX reports the less helpful `Object [[object Object]]`)

I set a breakpoint on line 12, and evaluated `element`, and got (line-breaks added):

[code]

This value is consistent with the html within my code.

Next I set breakpoints on 12 & 16 and checked the v

[2013-01-29 20:26] geddski opened #387 "ui-if calling trigger on parent element"
With angular 1.1.2 `ui-if` breaks on line 37:
`iterStartElement.parent().trigger("$childrenChanged");`
with this error:
`Object [[object HTMLUListElement]] has no method 'trigger'`

Full example:
http://plnkr.co/edit/k8kQPxmrJp48OOQeznSz

[2013-01-29 20:34] petebacondarwin commented on #387
Try the version on master: https://github.com/angular-ui/angular-ui/blob/master/modules/directives/if/if.js

[2013-01-29 20:35] #387 closed, assigned to nobody

[2013-01-29 21:06] geddski commented on #387
Fixed in master. Thanks.

[2013-01-29 23:05] JakobJingleheimer commented on #386
jQuery must be included before angularjs

But I still don't understand how the above code functions.

[2013-01-30 04:16] lanterndev opened #388 "pluralization support with format filter"
http://angular-ui.github.com/#filters-format says "Most commonly, this filter is helpful for internationalization", but it doesn't mention how you would use it with different plural forms, which is a basic part of i18n. If format supports pluralization already, could you give an example, and if not, would implementing it be of interest?

[2013-01-30 07:01] ProLoser commented on #388
So... it wasn't developed as an end-all solution. If you want something heavy-duty there are lots of more focused libraries out there.

My thinking (towards pluralization) would be to use this alongside `<ng-pluralize>`. The only thing this really focuses on is token replacement, which is a way to _assist_ internationalization, not tackle it completely.

If you look at the ngPluralize demos, you'l

[2013-01-30 07:34] lanterndev commented on #388
Thanks for the response, @ProLoser. What do you mean by "folded"?

[2013-01-30 07:34] ProLoser commented on #388
Removed

[2013-01-30 08:09] ProLoser commented on #325
Totally worth a PR, can you put this on the coffee file though?

[2013-01-30 08:32] ProLoser commented on #255
Landed in 9163ffec2be63cabeed703b674f4c1f654c85e1f #291

[2013-01-30 08:32] #255 closed, assigned to nobody

[2013-01-30 08:35] ProLoser commented on #211
I'm closing this. If people want us to explicitly support both static and dynamic items they can open a new issue. Sorry it took 4 months for me to respond to this lol

[2013-01-30 08:35] #211 closed, assigned to nobody

[2013-01-30 08:35] ProLoser commented on #211
PS: if you're still paying attention, and would like us to tackle this issue feel free to add a comment and I will reopen.

[2013-01-30 08:37] #325 closed, assigned to nobody

[2013-01-30 08:51] OwlyCode commented on #211
It's OK. My problem was solved by actually removing the fixed element in the list. But as I'm probably not the only one to experiment this, maybe looking if a fix is needed could be great.

I'll create a sample which reproduces it this evening.

[2013-01-30 08:54] ProLoser commented on #211
I understand the use case that created the issue. However, I would imagine trying to solve this raises new question:

What object should I put into the model that represents the static items?

Frankly, it's easier just to tell people they must use dynamic items only, but I suppose someone might want an entirely fixed list too. I'll have to review the code some more to see if it's been hardcoded to

[2013-01-30 09:42] OwlyCode commented on #211
It's not a common problem. The best example for me is if you want a categorized list with separators. It's a single big list with fixed items that delimitates sections. But maybe considering this as one big list is a mistake and there is another way I can't figure at the moment to design it. I'm quite inexperienced at angular. In my case, the problem was not blocking as a change to the design "sol

[2013-01-30 10:09] ProLoser commented on #211
Actually, I think if you create indexes in the array that mirror the statically placed nodes it should work perfectly:

[code]

I was going to do a mixed version but I can't figure out how to NOT make it complicated...

[2013-01-30 11:09] ProLoser commented on #221
Actually, I think if you create indexes in the array that mirror the statically placed nodes it should work perfectly.

[2013-01-30 19:23] ProLoser commented on #329
ui-date-format does not currently accept a variable, it takes plaintext and expressions: `ui-date-format="{{fmt}}"`

You are also setting the value to an object, and as pete stated, you can't set the value to an object with ui-date-format active.

[2013-01-30 19:23] #329 closed, assigned to nobody

[2013-01-30 19:36] ProLoser commented on #349
So I was about to tackle this as I considered it fairly trivial and then I realized a few major questions arise:
- When ui-date-format="" you default to ISO.
  - Conflicts with doing `<input ui-date ui-date-format>` as a way to trigger the uiConfig value
  - If requiring `ui-date-format` to use uiConfig value, this allows you to still fall back to using an object by default
- Should I ONLY use uiC

[2013-01-30 20:47] petebacondarwin commented on #349
So `ui-date-format` is a completely separate directive to `ui-date` so we don't need worry about `ui-date` (in case you were).  It doesn't have any of these issues.

I would suggest that if you specify a `uiConfig.dateFormat` value then this is what is used when the `ui-date-format` attribute has no value.  So the check would simply be:

[code]

If the developer wants to use `uiConfig.dateFormat`

[2013-01-30 21:35] mokesmokes opened #390 "Including just the Google Maps directive doesn't work"
Per the instructions, I included common/module.js and the maps.js directive, and this setup doesn't pass events to the DOM (e.g. clicking on the map doesn't create markers). When I included angular-ui.js instead of module.js and maps.js - everything works as expected. That was the only change. Please provide better guidance in the docs how to add specific directives instead of the full angular-ui

[2013-01-31 01:22] ProLoser opened #392 "IE Shiv modifications"
We should simplify the shiv and potentially relocate it to it's own module.

Also, I think that there is no point in trying to do IE browser detection INSIDE the shiv. People should just be instructed to use conditional comments.

[2013-01-31 05:03] mokesmokes commented on #390
And is it absolutely required to use jQuery's trigger() inside map.js, instead of the Angular built-in triggerHandler()? Would be nice to eliminate dependencies upon jQuery wherever possible.

[2013-01-31 19:12] DiegoPires opened #393 "Ui-mask issue in IE8"
Hey guys,

I've noticed that the feature of AngularUI for mask is behaving different in IE8, even in the main site (http://angular-ui.github.com).

In IE8, if you delete the value of the field mask and retype anything, the "Mask model value" shows with the mask.

Ex: "11-11-1111" instead of "11111111".

And the same happens in the controller of angular.

Is that an issue for the AngularUI or the J

[2013-01-31 19:25] ProLoser commented on #393
Try creating a stand alone demo outside of angular. If you help us out
would be much appreciated.
On Jan 31, 2013 11:12 AM, "Diego Silva Pires" notifications@github.com
wrote:

[2013-01-31 23:46] ProLoser commented on #390
@ajoslin what more needs to be done? Does map have a dependency on uiEvent or jQuery? @mokesmokes did you also include jQuery? or are you JUST using angular?

[2013-02-01 02:30] ajoslin commented on #390
Oh cool, didn't know about angular's trigger. Is angular's internal trigger available to use outside angular core?

If so we should switch to it so map only needs uiEvent.

[2013-02-01 02:31] ProLoser commented on #390
I don't get why angular would use a different api for triggering events... I think you might want to double-check the suggestion.

[2013-02-01 07:09] aravinda0 opened #394 "Problems with item being duplicated when using ui-sortable with connected nested lists"
I've been trying to use this commit for ui-sortable:
https://github.com/angular-ui/angular-ui/commit/0d86357afaa3da22ffdc244c892112c640a85802

Take this plunker: http://plnkr.co/edit/58O5JW?p=preview
When you move the item titled 'Samsung to release...' into the list titled 'Top News', the item gets duplicated.

Using a newer version of jquery-ui (I used 1.10.0) solves that issue.

But just upgrad

[2013-02-01 09:20] ProLoser commented on #392
Looking for some confirmation before merging this. @ajoslin @petebacondarwin @dandoyon @pkozlowski-opensource do you have any thoughts on if this should be merged?

I felt the instructions for proper use were more than adequate in terms of version checking, and it's not destructive otherwise, and simplicity would make it easier for people to digest our logic.

[2013-02-01 09:23] ProLoser commented on #394
You're using `connectWith: '.target'` but `class="target"` is on both the parents AND the children. You must use a separate class or selector to differentiate between the two levels.

I feel like I have de-ja-vu. I know I answered this exact question at least once before.

[2013-02-01 09:26] ProLoser commented on #394
You saved over the middle link when you posted the third link (same url). I am unable to see a 'samsung' item in all of your links provided.

[2013-02-01 09:53] ProLoser commented on #349
I added the code as you described, however I kept running into difficulty trying to write a unit test for it. How can I override ui.config in just 1 test?

[2013-02-01 10:04] aravinda0 commented on #394
Damn. Sorry about the duplicate link. I've updated the middle link.

The 'samsung..' item is in the first plnkr link. The list is a bit long due to margins and all, so if you're on a smaller screen, try clicking on 'launch preview in a separate window' button at the top right of the preview section.

And yes, the deja-vu is because you told me on IRC about the reason that there is the same class o

[2013-02-01 10:08] ProLoser commented on #227
So I was about to start this file but I in all honesty can't see this being all that helpful as it gets really complicated.

I think it'd be better to explain how the directive works so that people can figure out for themselves what will work and how to circumvent behaviors that won't work.

### For example:

Bootstrap's tooltip plugin will work by default, but if you use `title="{{title}}"` subse

[2013-02-01 10:22] ProLoser commented on #394
I think I was noticing this bug too when I was putting the demo together. I haven't been able to thoroughly review the new source for the error, but I will try to do this before v0.4.0

If you want to help me out, you can try inspecting the source code yourself and help me out by helping me identify the problem code. Keep in mind all that is really being done is that the index of the li you are dr

[2013-02-01 10:34] mokesmokes commented on #390
@ProLoser - I tried to use just angular but then trigger() is undefined, and it's used in map.js. So at the moment jQuery is required for your Google Maps implementation. However, triggerHandler is available OOTB in angular, so why not use just that? Here is the full list of jQuery APIs available directly from angular:
http://docs.angularjs.org/api/angular.element

[2013-02-01 10:46] petebacondarwin commented on #349
Will take a look now.  A new injector is created for each unit test so we should be able to provide a different uiConfig for a specific test

[2013-02-01 11:07] #392 closed, assigned to nobody

[2013-02-01 11:08] ProLoser opened #397 "Add unit tests for IE Shiv"

[2013-02-01 11:17] ProLoser commented on #349
Danke with the help. I realize I have not been on top of keeping the commits and logs squashed. I've been so tired and backed up with trying to get v0.4.0 that I haven't really been worrying about it. I figured it was more important to keep this project moving along.

[2013-02-01 11:39] ProLoser commented on #227
How's this? https://github.com/angular-ui/angular-ui/blob/jq/modules/directives/jq/README.md

I realize it's a bit long. Please feel free to suggest ways I can condense it so that it's easier to skim / digest.

[2013-02-01 11:41] aravinda0 commented on #394
From what I saw, the problem is that the code in the 'update' handler splices the source ngModel array in both the following cases:
1) Item is reordered _within_ a list. (We want this)
2) Item is moved to another list. (We don't want this, since in this case, the splicing is handled by the 'remove' handler)

This is what I try to address in my fix applied in the 3rd link that I posted, but as it n

[2013-02-01 11:43] ProLoser commented on #394
Feel free to open up a Pull Request (even if it's unfinished) so that we can do some inline code-commenting until we resolve this issue.

[2013-02-01 11:44] #349 closed, assigned to petebacondarwin

[2013-02-01 11:47] ProLoser commented on #319
#379

[2013-02-01 11:47] #319 closed, assigned to nobody

[2013-02-01 11:48] ProLoser commented on #287
#365

[2013-02-01 11:48] #287 closed, assigned to nobody

[2013-02-01 11:50] ProLoser commented on #362
@joshkurz what happened with this one?

[2013-02-01 11:56] #362 closed, assigned to nobody

[2013-02-01 12:02] #227 closed, assigned to nobody

[2013-02-01 12:29] ProLoser commented on #366
@joshkurz what's the story with this one again?

[2013-02-01 12:34] joshkurz commented on #366
all the tests are passing on my localhost. Ill open a new PR.

On Fri, Feb 1, 2013 at 7:29 AM, Dean Sofer notifications@github.com wrote:

##

_Josh Kurz_
http://dillingermediaonline.com/wordpresshttp://dillingermediaonline.com

[2013-02-01 16:54] oliversalzburg commented on #301
@joshkurz Could be this https://github.com/angular/angular.js/issues/1674

[2013-02-01 17:56] chrisjaure commented on #383
I have a quick question about this behavior now that I've looked at it a little more. Why default to ISO format? Wouldn't a better default be the jQuery UI datepicker widget default which is mm/dd/yy?

Relevant docs: http://api.jqueryui.com/datepicker/#option-dateFormat

[2013-02-01 19:20] ProLoser commented on #390
@mokesmokes mind helping us out with a PR then? I don't think it will need a unit test.

[2013-02-01 19:23] ProLoser commented on #301
@oliversalzburg that looks like an astute observation. @habdeira any chance you're still around to confirm this? If not perhaps someone can confirm that this indeed solves the problem.

[2013-02-01 19:24] ProLoser commented on #383
@chrisjaure that may not be a bad thought, but do you mind creating a new issue for it?

[2013-02-01 20:01] petebacondarwin commented on #383
It was what was requested when I wrote it!  I guess, also it is a standard
way for servers to provide date?
Now we have uiConfig.dateFormat it is easy enough to configure this
application wide so I would rather not change it - especially as it would
be a breaking change.
Pete

On 1 February 2013 19:24, Dean Sofer notifications@github.com wrote:

[2013-02-01 22:44] mokesmokes commented on #390
I'll take a look at it in a few days, no problem.

[2013-02-02 01:41] ProLoser commented on #352
Unless you can provide an explicit use-case in which this would be necessary instead of simply putting the class on the container, I'm going to close this issue

[2013-02-02 01:41] #352 closed, assigned to nobody

[2013-02-02 02:11] ProLoser commented on #294
I'm going to close this as it's outside the scope of `ui-jq`

You might want to take a look at using http://angular-ui.github.com/bootstrap/#/dialog instead

[2013-02-02 02:11] #294 closed, assigned to nobody

[2013-02-02 02:24] ProLoser commented on #360
Seems off scope. I'm closing this but feel free to provide a use-case in which this would be worth addressing.

[2013-02-02 02:24] #360 closed, assigned to nobody

[2013-02-02 02:29] ProLoser commented on #363
@moperacz the sooner you open a Pull Request the sooner we can merge this in! Your PR doesn't have to be completed, it can provide us a location for us to help you refine and comment on your code.

[2013-02-02 02:31] ProLoser commented on #377
@joshkurz do any open PRs or fixes address this issue? If so can you reference them and maybe we can close this issue?

[2013-02-02 02:32] ProLoser commented on #386
@ajoslin if you have a chance can you review this issue?

[2013-02-02 20:08] joshkurz commented on #377
#372 fixed this issue by adding the calendar to the scope and allowing the changeView function to be called from anywhere inside of the controller.

[2013-02-02 20:13] joshkurz commented on #380
I have actually solved this issue all around with #372. The calendar watches every event source's length and the main event source array's length as well.

[2013-02-02 20:13] #380 closed, assigned to nobody

[2013-02-02 21:25] #377 closed, assigned to joshkurz

[2013-02-03 13:39] johntom opened #399 "ui-mask"
Hi,
I'm trying to use u-mask, included   script(src='js/jquerymask.js') and get the following error.
TypeError: Object [object Object] has no method 'mask'
    at controller.$render (https://john-pc:8001/js/angular-ui.js:158:29)
    at Object.ngModelWatch (https://john-pc:8001/js/angular.js:11938:30)
    at Object.Scope.$digest (https://john-pc:8001/js/angular.js:7783:64)
    at Object.Scope.$appl

[2013-02-03 13:47] pkozlowski-opensource commented on #399
It looks like you didn't include jQuery _before_ AngularJS scripts. Make sure to go over the "Getting started" section from http://angular-ui.github.com/

[2013-02-03 16:02] bekos opened #400 "Datepicker weird behavior"
Datepicker does not re-open if input element has not lost focus.

Details:
1) Click inside input of the datepicker in order for the calendar to display.
2) Click on desired date, and the datepicker closes.
3) Without losing focus from the input, click again inside the input... and nothing happens.
4) Lose focus and click again inside the input and calendar show up for you to change the date.

[2013-02-03 16:57] petebacondarwin commented on #400
Are you using the version in master? I thought this had been fixed?

Pete
...from my mobile.
On Feb 3, 2013 4:02 PM, "Tasos Bekos" notifications@github.com wrote:

[2013-02-03 17:34] bekos commented on #400
I use it in the official page. http://angular-ui.github.com/

[2013-02-03 17:53] petebacondarwin commented on #400
This commit fixes the problem but it is not release yet:
https://github.com/angular-ui/angular-ui/commit/819fda12051979ff22a6430729495fd9ab61ddc3
Pete

On 3 February 2013 17:34, Tasos Bekos notifications@github.com wrote:

[2013-02-03 20:07] #400 closed, assigned to nobody

[2013-02-04 01:03] jph00 commented on #263
After applying that pull request, I have a bug if my ng-model references an id instead of an object. In the scope.$watch we have elm.select2('data', controller.$viewValue), but if ng-model refers to an id this needs to be elm.select2('val', controller.$viewValue).

At the moment, it's still very hard to get a basic 'edit' form working when in ajax mode and with minimumInputLength set, since the se

[2013-02-04 13:43] johntom commented on #399
HI,
I was just including the version of the libs and not the order. The following is the load order and I use the calendar and other ui directives without issue.
Any Ideas?
Thanks John
        script(src='js/jquery.js')
        script(src='js/jquery-ui.js')
        script(src='js/angular.js')
        script(src='js/bootstrapui.js')
        script(src='js/angular-ui.js')
        script(src='js/jque

[2013-02-04 13:55] petebacondarwin commented on #399
@johntom: Hmm.  Can you demonstrate this in a Plnkr?  Have you tried loading the jquerymask.js before angular.js?

[2013-02-04 15:27] akimball opened #402 "Initial ngModel value not selected in select2 with optgroup"
When using When using select2 with optgroup the initial ngModel value is not selected.

With the following an initial `selectedItem` is not selected

[code]

Setting `selectedItem` subsequently will update the select correctly (and this is what I'm doing as a workaround).

Without optgroup this all works as expected and the initial `selectedItem` is selected

[code]

The problem seems to be that a

[2013-02-04 20:18] ProLoser commented on #402
Since a `<select>` will always have `<option>` tags inside, we can just change the selector.

[2013-02-04 20:22] ProLoser commented on #402
Actually with this line: https://github.com/angular-ui/angular-ui/blob/master/modules/directives/select2/select2.js#L24 it should work fine. I'm not sure why it isn't working? Is it only the groupedData that is changing instead of the option data? Although that too shouldn't make sense.

Maybe it's a byVal vs byRef issue?

[2013-02-04 21:44] michaelahlers commented on #303
I still think this is an issue&mdash;I ran into this problem, even having jQuery loaded prior to Angular UI. The following patch to `angular-ui.js` fixes it. (Using AngularJS 1.1.2, Angular UI 0.3.2, and jQuery 1.9.0.)

[code]

[2013-02-04 21:48] ProLoser commented on #303
That.... doesn't make sense. An angular element === jQuery element

[2013-02-04 22:05] joseym commented on #303
@michaelahlers - I'm confused, `elm` should be a jQuery object already. That's like wrapping jquery in jquery.

[2013-02-04 22:29] ajoslin commented on #303
Why not just do if (elm[0].tagName.toLowerCase()=='textarea' and fix the is problem?

[2013-02-04 22:29] ProLoser commented on #303
Doesn't CodeMirror have a jquery dependency?

[2013-02-04 22:30] ProLoser commented on #303
Guess not

[2013-02-04 22:31] ProLoser commented on #303
@ajoslin is `tagName.toLowerCase()` better than `type`?

[2013-02-04 23:03] ProLoser commented on #303
https://github.com/angular-ui/angular-ui/commit/c10e0a1d35b466cd3a18148b6b49cf99d4948953#L0R14

[2013-02-04 23:07] ajoslin commented on #303
I don't really know what `type` is.. there's no documentation for it on mdn lol https://developer.mozilla.org/en-US/docs/DOM/element

[2013-02-05 00:10] johntom commented on #399
Hi,
1)The order did not fix it.
2) I forgot to include the migrate script with version 1.9.0. It did work with 1.8.3

<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

<script src="http://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>

3) I wrote a plunker http://plnkr.co/edit/rsftsQ?p=preview for others who might run into same issue.
4) I knew I was doing something wrong

[2013-02-05 00:10] #399 closed, assigned to nobody

[2013-02-05 09:42] akimball commented on #402
I realised I hadn't close my `<optgroup>` tag so I've updated the original issue.

https://github.com/angular-ui/angular-ui/blob/master/modules/directives/select2/select2.js#L24 results in a watch on the options dataset which, when nested under an `optgroup`, is on the wrong scope (in my example `group` is not on the scope being watched).

Changing [line #24](https://github.com/angular-ui/angular-

[2013-02-05 10:06] ProLoser commented on #402
Hmmmm........

So I would have said do `$parent.options` but that doesn't fix it because inside the directive, I can't access the scope being watched.

For YOUR use-case, that change fixes it, but if someone changes the options array (and doesn't touch the opt-group level at all) the changes won't get updated. SO how do we follow changes on a deeper level?

[2013-02-05 10:12] ProLoser commented on #402
After reviewing the code, no, it won't have any effects on the watch, but the selector should be made shallow as a security precaution.

Instead of `.find()` it should probably be `.children()` so that it doesn't go an extra level deeper and watch things that don't even exist on that scope.

I am thinking about adding support for a `ui-refresh` attribute as i've used elsewhere. You would be able t

[2013-02-05 13:20] brotherdetjr commented on #245
Sure. It doesn't update still.
Solved as a directive:

<pre><code>.directive('codeMirrorModal', function() {
    return {
        restrict: 'C',
        link: function(scope, element, attrs) {
            element.on('shown', function(evt) {
                $(evt.target).find('.CodeMirror').each(function(key, value) {
                    value.CodeMirror.refresh();
                });
            }

[2013-02-05 14:51] michaelahlers commented on #303
@joseym, that confuses me, too. However, AngularJS by itself, with its &ldquo;[jQuery lite](http://docs.angularjs.org/api/angular.element)&rdquo; implementation, is not documented to provide the `is` function on element objects (and no such function appears in the code base). One way or another, this code depends on a proper jQuery object.

[2013-02-05 15:27] joseym commented on #303
interesting... rather than passing a jquery object to jquery you could pass the dom element to jquery with `elm[0]`

[2013-02-05 20:27] joshkurz opened #403 "Failing Tests?"
Currently their are six tests failing. If a new PR is opened, with these failing tests, would the build fail and therefore make the PR fail in the process?

[2013-02-05 20:41] Blakewell opened #404 "Date (ui-date) Issue with IE8/IE9"
On Chrome the date selector disappears upon selection of a date.  However, in IE 8 and IE 9 the date selector pops back up upon selection of a date.  Chrome has a nicer UX IMHO.

[2013-02-05 20:47] petebacondarwin commented on #403
Yes

[2013-02-05 21:05] joshkurz commented on #403
thanks

[2013-02-05 21:05] #403 closed, assigned to nobody

[2013-02-05 21:13] ProLoser commented on #403
The failing tests are my fault, I will fix them ASAP
On Feb 5, 2013 1:06 PM, "Josh Kurz" notifications@github.com wrote:

[2013-02-05 23:15] ProLoser commented on #303
@joseym i will smack you if you do that. You  don't LEAVE jQuery just to go back into it. It's just as redundant.

@michaelahlers: you are correct, and I assumed CodeMirror depends on jQuery but I was wrong. The code has already been refactored to remove this dependency. If you're wrapping angular elements in jquery elements though then you're doing it wrong. Correct your lib import order and angu

[2013-02-05 23:19] ProLoser commented on #245
@brotherdetjr the latest version of CodeMirror (on v0.4.0) will have a fix for this called uiRefresh.

You will be able to do `ui-refresh="someExpression"` and it will refresh codemirror.

A useful way to do this would be:

[code]

[2013-02-06 00:38] joshkurz commented on #403
Np

Sent from my iPhone

On Feb 5, 2013, at 4:13 PM, Dean Sofer notifications@github.com wrote:

[2013-02-06 00:40] ProLoser commented on #403
The build should be passing now (and says so on the README??) but when I go to travis it says it's failing and appears to be stuck on the previous build.

[2013-02-06 02:48] joshkurz commented on #403
I just opened the PR to see what would happen and all is well and good. Thanks

[2013-02-06 11:12] moroshko opened #406 "Select2 - How to stop automatic sorting?"
Looks like when using `multiple`, the items are sorted automatically.
Is there a way to stop this?

Live example here: http://plnkr.co/edit/5X7s8WZPVw7Z9gVWDjK3?p=preview

See also: http://stackoverflow.com/questions/14727502/angular-ui-select2-how-to-stop-automatic-sorting

[2013-02-06 11:41] ni-ka opened #407 "Select2 directive not compatible with new select2 versions (released 3.3, upcoming 3.4)"
Hey,

Due to some required bugfixes I've tried to update the select2 component in my angular UI project. However, the freshly released 3.3 does not work with angular UI, and so does the master version.

Both have slightly different bugs, here plunkers:

released 3.3: http://plnkr.co/edit/wQGLMYFJyeQxYQq0pe8o?p=preview
upcoming 3.4 / master: http://plnkr.co/edit/7Dd41eVVInSSQCx4SCAJ?p=preview

[2013-02-06 12:31] brotherdetjr commented on #245
@ProLoser Thank you! Will try it a bit later :)

[2013-02-06 16:06] abanctelchevrel commented on #406
I stumble upon the same issue, and after some test I'm thinking it's actually an issue in select2, and not in angular-ui.

When programmatically setting the select2 widget you can use select2.('val') or select2.('data').
As you can see here (http://jsfiddle.net/u7pYa/3/), **select2.('val') does not preserve entry order, whereas select2.('data') does.**

The select2 directive seems to use select2.(

[2013-02-06 17:34] ProLoser commented on #406
It uses data if you pass an object instead of an idea. V0.4.0 may have some
fixes.
On Feb 6, 2013 8:06 AM, "Antoine BANCTEL-CHEVREL" notifications@github.com
wrote:

[2013-02-06 17:45] davisford opened #408 "How to clear Select2 values in <input>?"
I've got something like this:

[code]

Which ends up rendering like so:

[code]

In my controller:

[code]

This all works just fine, but sometimes I want to clear the `<input>`.  Presumably I thought that I could do that by truncating the $scope.selectedCommands array since that is used as the `ng-model=selectedCommands` on the `<select>` item.  When I do that in my code, I can see the array is t

[2013-02-06 18:58] ProLoser commented on #408
You're going to have to provide a fiddle as this should work.

How are you attempting to clear the value? Are you 100% positive your scopes are the same? (since you did `selectedCommands` instead of `data.selectedCommands`)

[2013-02-06 19:10] ProLoser commented on #407
`.attr(key, val)` is returning the value  instead of a reference to the jQuery wrapped DOM element. This may be caused by AngularJS itself, and if so, you might want to open a ticket there instead.

In the mean time, what happens if you modify the select2 code (for shits and giggles) so that `.attr()` is the last method in the chain instead of second to last?

[2013-02-06 19:15] pearlchen commented on #303
Not important anymore but `type` is a property of HTML inputs, e.g. textareas and input fields.

However, `tagName.toLowerCase()` is probably best used since someone might try applying CodeMirror to a `div`.

[2013-02-06 19:22] michaelahlers commented on #303
@ProLoser, I was never proposing that as a solution.

[2013-02-06 19:35] ProLoser commented on #303
@pchen I just learned something new!

@michaelahlers, no worries, I was mostly joking in what I was saying to @joseym anyway.

[2013-02-06 19:37] michaelahlers commented on #303
@ProLoser, yo dawg, I heard you like jQuery! So I used $(jQuery) to wrap your $($(jQuery)) in a $($($(jQuery))).

[2013-02-06 20:38] fengtality opened #409 "Two-way data binding with select2 (tags mode) + ng-model"
Is there a way to correctly reflect both tags with initial values and altered values when using ui-select2 in tags mode?

The issue is that select2 looks for an array of strings in the ng-model to create the initial tags, but then changes it an array of objects when the user makes any changes.  If no changes are made, ng-model remains an array of strings.

Right now, this forces me to account for

[2013-02-06 21:40] ProLoser commented on #409
Does this sort of scenario ONLY occur with tagging mode and without initSelection? I have a fix ready but I need to know what scenarios need the fix.

[2013-02-06 21:42] ProLoser commented on #409
Feel free to test out this version and see if it resolves your problem: https://github.com/ProLoser/angular-ui/blob/select2/modules/directives/select2/select2.js

However, I would still greatly appreciate it if you could help me identify the previous question I asked.

[2013-02-06 21:49] fengtality commented on #409
Thanks - I believe it doesn't occur with select2-multiple since you can set what each option returns, but I haven't tried it.

I don't think initSelection is called when select2 is in tags mode: http://plnkr.co/edit/MNman2HWRXBJ2JDHKXjZ

On Feb 6, 2013, at 1:43 PM, Dean Sofer notifications@github.com wrote:

[2013-02-06 21:52] ProLoser commented on #409
I don't get why initSelection isn't called, it seems like it should be called, no? I mean if it makes sense to you too perhaps you can open a ticket on Select2 about this?

Anyway, if it ignores it (for now) I should remove [that check in the fix](https://github.com/ProLoser/angular-ui/commit/d391124292c7051d770d707b3cab0f1a1b3f18c5#L0R118)

[2013-02-06 21:55] ProLoser commented on #257
I want to add this functionality. I'm slating it for v0.4.1, anyone is free to open a PR for it if it hasn't been already done by then.

[2013-02-06 22:52] fengtality commented on #409
Did a couple of tests and confirmed that initSelection is called when select2 is in multiple mode, but NOT called in tags mode.

Multiple: http://plnkr.co/edit/4jUDh5SH8uilVGQIC72t?p=preview
Tags: http://plnkr.co/edit/L09fOWhNxxcMzP0OAMWQ?p=preview

I'll open a ticket in Select2.

[2013-02-07 11:25] cymantic commented on #245
I've been using the changes in #358 to trigger the refresh based on the onShown event to get around the $timeout issues... look forward to having the ui-refresh though

[2013-02-07 11:44] nicolasblanco commented on #407
Hi,

what is the latest version of select2 compatible with angular UI ? Thanks.

[2013-02-07 11:52] ProLoser commented on #407
@slainer68 Trying to figure out WHY it's not compatible with the latest version, as I can't seem to understand why it wouldn't be.

[2013-02-07 11:56] moroshko commented on #406
Where could I find the most updated code for 0.4.0? I can't see any branch or tag with 0.4.0.

[2013-02-07 14:56] nicolasblanco commented on #407
@ProLoser : thanks.

In my case, when I'm using the angular ui select2 directive, the directive makes more than 1 select() call on the element, and on the second call, the select2 input disappears offscreen (you can reproduce the behaviour by just manually calling select2() twice on an element)...

[2013-02-07 15:16] ni-ka commented on #407
@slainer68 you can safely use 3.2

@ProLoser regarding your first reply, this only seems to be valid for 3.3, right? 3.4 does not show any javascript error. It seems that it is hiding the wrong item (the select2-offscreen class gets applied to the container div instead of the drop only). If you remove the select2-offscreen class from the container the control is working fine.

I believe the proble

[2013-02-07 16:03] drewhamlett opened #410 "Directives dont' seem to work within ng-include?"
I've tried scrollspy and reset.  They don't seem to work if I'm applying them within an include.  They work fine otherwise.

[code]

Then within that source file I apply this

[code]

Nothing happens.   Take the same code and apply it outside a partial.  Works fine.

[2013-02-07 16:34] davisford commented on #408
I did try to whip up a [plnkr](http://plnkr.co/edit/qGvd8rCsbp7cVoTp3KdM?p=preview) and it did seem to work -- although I couldn't figure out how to get the select2 .png resources to resolve -- they are hardcoded in the css, and so it didn't look pretty, but it did work.   If you click clear, it just truncates the array length, and it is cleared.

I'm not sure why it isn't work in my own project.

[2013-02-07 16:34] #408 closed, assigned to nobody

[2013-02-07 17:07] nicolasblanco commented on #407
@ni-ka : i don't understand why but my select2 goes off screen when using the directive even with v.3.2 :cry:

[2013-02-07 17:57] chrisjaure commented on #302
For reference, this test fails when removing that line:

[code]

[2013-02-07 18:55] ProLoser commented on #410
How are you doing scrollspy?

[2013-02-07 19:22] petebacondarwin commented on #302
I think this may be fixed in master but I haven't tried it. Can you check?
The change is to add

[code]

after line 31.

[2013-02-07 20:13] ProLoser commented on #406
I should probably start developing into a dedicated branch...
Right now all v0.4.0 changes are in master.

[2013-02-07 20:18] drewhamlett commented on #410
I'm sorry, this seemed to be a caching issue with the reset(partial was cached).  The scrollspy was an iPad issue.  Doesn't work correctly I suppose.

[2013-02-07 20:18] #410 closed, assigned to nobody

[2013-02-07 21:17] ProLoser commented on #410
I'm not sure how scrollspy works, it may not be knowledgable of async changes to the DOM.

[2013-02-08 15:58] joseym commented on #406
@moroshko - https://github.com/angular-ui/angular-ui/blob/master/modules/directives/select2/select2.js

[2013-02-08 22:49] ProLoser commented on #406
I have been poking around with this and it makes 0 sense why this should be occurring as angular and angularUI is not actually doing anything specifically to deal with data order. I will slate this fix for v0.4.1

[2013-02-09 10:24] ProLoser commented on #298
bf20d8877475cd19de3f8e58c7f4474788a08700

[2013-02-09 10:24] #298 closed, assigned to nobody

[2013-02-09 10:37] #390 closed, assigned to nobody

[2013-02-09 10:40] #348 closed, assigned to nobody

[2013-02-09 10:49] ProLoser commented on #366
@joshkurz I would open a PR myself from your fork but I don't know which branch this commit is sitting in.

[2013-02-09 10:54] ProLoser commented on #409
This appears to be slated for Select2 v3.4 now: ivaynberg/select2#811

@mifeng - do you mind checking out [that commit from his repo](https://github.com/ivaynberg/select2/commit/270d4bad072b29f8536afcfb6032d37483e56642) and seeing if that closes this issue? If not, we can reopen this bug but for now I'd like to close as many bugs as possible.

[2013-02-09 10:54] #409 closed, assigned to nobody

[2013-02-09 11:52] ProLoser commented on #263
0414834a353f88e6dde41541c2586cad4a1237ea

[2013-02-09 11:52] #263 closed, assigned to nobody

[2013-02-09 11:53] ProLoser commented on #135
0414834a353f88e6dde41541c2586cad4a1237ea

[2013-02-09 11:53] #135 closed, assigned to ProLoser

[2013-02-09 11:57] ProLoser commented on #394
So I'm wondering if what's happening is that both AngularJS AND sortable are both trying to relocate the DOM node to the new list.

[2013-02-09 14:16] joshkurz commented on #366
This issue has been solved with the new branch https://github.com/joshkurz/angular-ui/tree/calendar that has been merged.

[2013-02-09 14:17] ProLoser commented on #366
Cool. I'm going to close this.

[2013-02-09 14:17] #366 closed, assigned to joshkurz

[2013-02-09 14:24] ProLoser commented on #394
I'm very very close but it's 6:20am and I've been working for 6 hours straight and need to sleep.

I need someone to play with the demo and review my onStop logic because my eyeballs are turning to mush.

There is something wrong with my splicing start and end positions, but I can't quite put my finger on it.

Also there's this weird (read: stupid) behavior where the onStop is being fired in the w

[2013-02-09 17:50] matkokvesic opened #413 "Modal dialog - add optional modal ID attribute"
Add in $dialogProvider.options possibility to set id attribute on modal div. In example:

[code]

If we have many generic modals on one page it's useful to attach ID-s to each of them if some UI operations on child elements inside modal are needed.

The way i am doing that now is (with jquery):

[code]

[2013-02-09 20:48] pkozlowski-opensource commented on #413
I guess you wanted to open an issue in this repository: https://github.com/angular-ui/bootstrap where bootstrap-specific code resides.

As for your request: could you elaborate on " some UI operations on child elements inside modal are needed". I tend to find that with AngularJS relaying on ids is seldom needed.Could you prepare a plunker with what you are trying to do?

[2013-02-09 21:31] matkokvesic commented on #413
After some further analysis I would agree that id property on outermost modal div is really not needed in most of the cases. Please remove this "issue", my apologies I had to post this on stackoverflow first.

[2013-02-09 21:32] #413 closed, assigned to nobody

[2013-02-09 23:06] ProLoser commented on #408
@davisford - watch this video: http://youtu.be/ZhfUv0spHCY?t=32m50s and my comments on it: http://youtu.be/ZhfUv0spHCY?t=45m40s

[2013-02-10 07:35] mirontoli commented on #342
Thank you @KevinOrtman! It helped, too. So not really blush total.  Maybe it should stand in the README: run `npm install` as well

[2013-02-11 00:27] ajoslin opened #415 "Promise tracker"
So I made this promise tracker thing, and made a whole github repo for it, and then I realized it would probably work great in angular-ui.

https://github.com/ajoslin/angular-promise-tracker

It's got unit tests and a readme and a demo and would be easy to pop in.

Should I go ahead and put it in?

[2013-02-11 01:42] ProLoser commented on #415
Awesome. Do it.

[2013-02-11 03:57] ProLoser commented on #343
#412

[2013-02-11 03:57] #343 closed, assigned to nobody

[2013-02-11 13:12] end0 opened #416 "ui-validate not always popping up errors"
Using Chrome on OSX, the ui-validate demo doesn't work for all cases:

blah - popup saying email is invalid
blah@ - popup saying email is invalid
blah@a - no popup
blah@b. - popup saying email is invalid
blah@b.c - no popup
blah@b.co - popup saying email is valid

Not sure why popup wouldn't show for case 3 and 5, which are both invalid email formats.

[2013-02-11 19:21] aaronwhite opened #417 "ui-sortable doesn't respect {helper:'clone'} configuration"
When configured with the clone helper, the directive doesn't properly allow a cloning drag-drop from one list to another (instead, it still functions as a move)

[2013-02-11 20:08] joseym commented on #415
Very cool, could have used this days ago (likely will use it regardless of my own solution). Well done.

[2013-02-11 21:31] ajoslin commented on #415
OK, cool I'll pop it in.

@joseym yeah, I got tired of trying to work with $scope.loading variables everywhere lol. thanks

[2013-02-11 22:04] ProLoser commented on #417
Does this occur with the latest code on master?
On Feb 11, 2013 11:21 AM, "Aaron White" notifications@github.com wrote:

[2013-02-11 22:13] aaronwhite commented on #417
Yes, I downloaded master, built, and was still able to reproduce it. I may produce some code to demonstrate it if I get a chance, I wasn't sure if this was a duplicate of another issue I saw you were working on. (BTW: thanks for the great work on angular-ui!)

[2013-02-11 22:15] ProLoser commented on #417
I thought helper is just until you let go, and then it moves the original.
I'm not in front of a computer right now but I was wondering if you didn't
want the original to move during dragging or after releasing?
On Feb 11, 2013 2:13 PM, "Aaron White" notifications@github.com wrote:

[2013-02-12 00:23] ProLoser commented on #417
@aaronwhite If you re-read the sortable API, setting `helper:'clone'` is not the same as cloning the value from one list to another. It means that a copy of the original item is what you move around under the mouse, but once you let go, it will relocate the original. The _helper_ is a reference to what you're moving around using the mouse, but it is not a reference to the original node itself.

If

[2013-02-12 01:04] johannesjo opened #418 "example validate highlight"
Just recognized that in a fast click through ( i apologize if this has been reported before) that while the validation for email works correctly the outline of the input already gets blue again after '@' and any other letter is typed.

Imho validation status and appearance should be strictly linked to each other in this case anyway.

[2013-02-12 07:59] ProLoser commented on #418
Duplicate of #416

[2013-02-12 07:59] #418 closed, assigned to nobody

[2013-02-12 08:03] ProLoser commented on #416
Can you test this if this occurs with vanilla AngularJS? The email validation SHOULD be the result of AngularJS.

Regardless, the validation code is also going to change in v0.4.0 and may very well fix this.

@joseym, again, if you don't mind, think you can see if the validation bug described is a symptom of AngularJS itself (and perhaps a bug should be filed for it). And also if the bug has been

[2013-02-12 10:59] ghost commented on #324
I added a simple fix to bootstrap-editable.js render function. That also fixes "Empty" value.

[code]

[2013-02-12 11:39] Vilakshan commented on #402
Hello all,

I am using <select> with ng-options and facing same issue, Initial ngModel value is not selected in select2 when page gets loaded.

[code]

[2013-02-12 14:48] joseym commented on #416
I'm on it.

[2013-02-12 16:27] joseym commented on #416
Ok, i'm not sure what "popup" we're talking about.

Here's an email validation fiddle with just angular: http://jsfiddle.net/joseym/bjpNy/

Angular appears to be validation correctly (except for the form's init, where a blank field is considered a valid email).

As for the similar bug reported here: #418

Angular is setting the appropriate valid/invalid classes, however the fields highlight state

[2013-02-12 23:18] joseym commented on #416
It may be premature but I opened an issue on the Angular project since this seems to be happening with AngularJS: [#1999](https://github.com/angular/angular.js/issues/1999)

[2013-02-13 01:17] ProLoser commented on #402
@Vilakshan there is a large disclaimer saying that `uiSelect2` is incompatible with `ngOptions`, you are supposed to use `<option ngRepeat>`

[2013-02-13 02:55] #394 closed, assigned to nobody

[2013-02-13 02:56] ProLoser commented on #416
Closing this, but we can reopen it if it turns out to be our fault.

[2013-02-13 02:56] #416 closed, assigned to joseym

[2013-02-13 03:56] ProLoser opened #420 "Release v0.4.0"
Need codename suggestions:
- errmergad
- baconaise
- finalcountdown
- nananananana-BATMAN
- leeping-balderdash-batman
- zergrush
- barrelroll
- chocolaterain